<div class="full-screen-container">
  <div class="form-container">
    <h1 class="title">Manage Team</h1>
    <form (ngSubmit)="onSubmit()" #teamForm="ngForm">
      <div class="form-content">
        <!-- Fila 1: Nombre -->
        <div class="input-section-row">
          <div class="field field-name">
            <label class="label" for="name">Nombre</label>
            <div class="control">
              <input
                class="input"
                id="name"
                name="name"
                [(ngModel)]="team.name"
                required
                #name="ngModel"
              />
              <p class="help is-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                El nombre es requerido.
              </p>
            </div>
          </div>
        </div>

        <!-- Fila 2: País y Ciudad -->
        <div class="input-section-row">
          <div class="field field-center-label">
            <label class="label" for="country">País</label>
            <div class="control">
              <div class="select">
                <select
                  id="country"
                  name="country"
                  [(ngModel)]="team.country"
                  required
                  #country="ngModel">
                  <option value="" disabled selected>Seleccione un país</option>
                  <option *ngFor="let country of countriesList | keyvalue" [value]="country.key">{{ country.key }}</option>
                </select>
              </div>
              <p class="help is-danger" *ngIf="country.invalid && (country.dirty || country.touched)">
                El país es requerido.
              </p>
            </div>
          </div>

          <div class="field field-center-label field-city">
            <label class="label" for="city">Ciudad</label>
            <div class="control">
              <div class="select">
                <select
                  id="city"
                  name="city"
                  [(ngModel)]="team.city"
                  required
                  #city="ngModel"
                  [disabled]="!team.country">
                  <option value="" disabled selected>Seleccione una ciudad          </option>
                  <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
                </select>
              </div>
              <p class="help is-danger" *ngIf="city.invalid && (city.dirty || city.touched)">
                La ciudad es requerida.
              </p>
            </div>
          </div>
        </div>

        <!-- Fila 3: Categoría -->
        <div class="input-section-row">
          <div class="field field-center-label">
            <label class="label" for="category">Categoría</label>
            <div class="control">
              <div class="select">
                <select
                  id="category"
                  name="category"
                  [(ngModel)]="team.category"
                  required
                  #category="ngModel">
                  <option value="" disabled selected>Seleccione una categoría</option>
                  <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                </select>
              </div>
              <p class="help is-danger" *ngIf="category.invalid && (category.dirty || category.touched)">
                La categoría es requerida.
              </p>
            </div>
          </div>
        </div>

        <!-- Sección de Logo del Equipo y Recibo de Pago -->
        <div class="input-section-row">
          <div class="field">
            <label class="label" for="logoImage">Logo del Equipo</label>
            <div class="control">
              <div class="custom-file-input-wrapper">
                <input
                  class="custom-file-input"
                  type="file"
                  id="logoImage"
                  name="logoImage"
                  (change)="onLogoSelected($event)"
                  accept="image/*"
                  required>
                <label class="custom-file-label" for="logoImage"></label>
              </div>
            </div>
            <div class="image-preview" *ngIf="previewLogoUrl">
              <label>Preview:</label>
              <img [src]="previewLogoUrl" alt="Logo Preview" />
              <button type="button" class="button is-danger is-small" (click)="removeLogo()">Eliminar Logo</button>
            </div>
          </div>

<!--          <div class="field">-->
<!--            <label class="label" for="receiptImage">Recibo de Pago Inscripción</label>-->
<!--            <div class="control">-->
<!--              <div class="custom-file-input-wrapper">-->
<!--                <input-->
<!--                  class="custom-file-input"-->
<!--                  type="file"-->
<!--                  id="receiptImage"-->
<!--                  name="receiptImage"-->
<!--                  (change)="onReceiptSelected($event)"-->
<!--                  accept="image/*"-->
<!--                  required>-->
<!--                <label class="custom-file-label" for="receiptImage"></label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="image-preview" *ngIf="previewReceiptUrl">-->
<!--              <label>Preview:</label>-->
<!--              <img [src]="previewReceiptUrl" alt="Recibo Subido" />-->
<!--              <button type="button" class="button is-danger is-small" (click)="removeReceipt()">Eliminar Recibo</button>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>

      <!-- Sección de Botones -->
      <div class="button-section">
        <button class="button is-primary" type="submit" [disabled]="teamForm.invalid">Agregar</button>
        <button class="button is-light" type="button" (click)="onCancel()">Cancelar</button>
      </div>
    </form>
  </div>

  <!-- Toast Notifications -->
  <div class="toast-container">
    <div *ngIf="showSuccessToast" class="notification is-success toast">
      <div class="toast-content">
        <img src="/assets/pulgar arriba1.png" alt="Éxito" class="toast-icon">
        <div class="toast-message">{{ toastMessage }}</div>
      </div>
    </div>
    <div *ngIf="showErrorToast" class="notification is-danger toast">
      <div class="toast-content">
        <img src="/assets/pulgar abajo.png" alt="Error" class="toast-icon">
        <div class="toast-message">{{ toastMessage }}</div>
      </div>
    </div>
  </div>
</div>
