<section class="section">
  <div class="arrow-container">
    <a [routerLink]="['/home']" class="arrow-back">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>
  <div class="container">
    <div class="box">
      <h1 class="title">Registrar Usuario</h1>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
       
        <div class="field">
          <label class="label">Correo</label>
          <div class="control has-icons-left">
            <input class="input" type="email" formControlName="email" required>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <p *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" 
          class="help is-danger active">
         Correo es requerido.
       </p>
        </div>

       <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input 
              [type]="passwordVisible ? 'text' : 'password'" 
              class="input" 
              formControlName="password" 
              placeholder="Enter your password"
              (input)="onPasswordInput($event)">
            <div *ngIf="passwordHasValue" class="toggle-password" (click)="togglePasswordVisibility()">
              <i [ngClass]="passwordVisible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
            </div>
            <span class="icon is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <div 
            *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" 
            class="error-password active">
            Password es requerida
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-primary is-fullwidth" type="submit">Registrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!--Toast-->
  <div class="toast-container">
    <div *ngIf="showSuccessToast" class="notification is-success toast">
      <div class="toast-content">
        <img src="/assets/pulgar arriba1.png" alt="Éxito" class="toast-icon">
        <div class="toast-message">{{ toastMessage }}</div>
      </div>
    </div>
    <div *ngIf="showErrorToast" class="notification is-danger toast">
      <div class="toast-content">
        <img src="/assets/pulgar abajo.png" alt="Error" class="toast-icon">
        <div class="toast-message">{{ toastMessage }}</div>
      </div>
    </div>
  </div>
</section>
