<section class="section">
  <div class="arrow-container">
    <a [routerLink]="['/home']" class="arrow-back">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>
  <div class="container">
    <div class="box">
      <h1 class="title">Registrarse</h1>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
       
        <div class="field">
          <label class="label">Correo</label>
          <div class="control has-icons-left">
            <input class="input" type="email" formControlName="email" required>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <p *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" 
          class="help is-danger active">
         Correo es requerido.
       </p>
        </div>

        <div class="field">
          <label class="label">Contraseña</label>
          <div class="control has-icons-left">
            <input class="input" type="password" formControlName="password" required>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <p *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" 
             class=" password-error">
            Contraseña es requerida y debe tener al menos 6 caracteres.
          </p>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-primary is-fullwidth" type="submit">Registrar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="logo-container">
      <img src="/assets/logo portoviejo 2.png" alt="Logo Portoviejo" class="logo-image">
    </div>
  </div>

  <!--Toast-->
  <div class="toast-container">
    <div *ngIf="showSuccessToast" class="notification is-success toast">
      <div class="toast-content">
        <img src="/assets/pulgar arriba1.png" alt="Éxito" class="toast-icon">
        <div class="toast-message">{{ toastMessage }}</div>
      </div>
    </div>
    <div *ngIf="showErrorToast" class="notification is-danger toast">
      <div class="toast-content">
        <img src="/assets/pulgar abajo.png" alt="Error" class="toast-icon">
        <div class="toast-message">{{ toastMessage }}</div>
      </div>
    </div>
  </div>
</section>
