

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/video poster dashboard.png');
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  width: 100%;
  min-height: 100vh; 
  padding: 2rem; 
}

.box {
  max-width: 330px; 
  width: 100%; 
  padding: 2rem 1.5rem; 
  border-radius: 10px; 
  background: rgba(155, 174, 188, 0.969); 
  box-shadow: 0 4px 25px 10px inset rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(12px); 
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.title {
  font-size: 1.7rem; 
  font-weight: 500; 
  color: #fcfcfc; 
  text-align: center; 
  margin-bottom: 1.5rem; 
}

.field {
  margin-bottom: 1.2rem;
  position: relative; 
}

.help.is-danger {
  font-size: 0.65rem;
  color: #ff0000;
  position: absolute; 
  bottom: -1.3rem; 
  top: 93%;
  left: 10px;
  width: 100%;
  visibility: hidden; 
}

.help.is-danger.active {
  visibility: visible; 
}

.error-password {
  font-size: 0.65rem;
  color: #ff0000; 
  position: absolute; 
  bottom: -1.3rem;
  top: 100%; 
  left: 10px;
  width: 100%;
  visibility: hidden; 
}

.error-password.active {
  visibility: visible; 
}

.label {
  font-size: .9rem; 
  font-weight: 400; 
  color: #ffffff; 
  margin-bottom: 0.2rem; 
  margin-left: 8px;
  display: block; 
}

.input {
  position: relative;
  background-color: #f9f9f9a7; 
  border: 1px solid #979595; 
  border-radius: 8px; 
  font-size: 1rem; 
  width: 100%; 
  color: #333; 
  padding-left: 0.5rem; 
  padding: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s; 

  &:focus {
    border-color: #c2c6ca; 
    box-shadow: 0 0 5px rgba(185, 189, 194, 0.5); 
    outline: none; 
    background-color: #e6e6e6; 
  }
}

.icon.is-left i {
  color: #a7a5a5; 
  transition: color 0.3s ease;
  font-size: .75rem;
}

.input:focus ~ .icon.is-left i {
  color: #666565; 
}

.toggle-password {
  cursor: pointer;
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-password i {
  color: #6f6d6d; 
  font-size: .8rem;
}

.toggle-password i:hover {
  color: #000; 
}

.icon.is-left {
  color: #787676; 
  position: absolute;
  left: 10px;
  top: 51%; 
  transform: translateY(-50%);
  pointer-events: none; 
}

.icon.is-left i:active {
  color: #343232; 
}

.button.is-primary {
  width: 100%; 
  padding: .8rem; 
  border-radius: 5px; 
  font-size: 1rem; 
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  transition: background-color 0.3s ease; 
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: -1.4rem;
}

.button.is-primary:hover {
  background-color: #0056b3; 
  border-color: #0056b3;
}

.logo-container {
  margin-top: 0.5rem; 
  margin-bottom: -.5rem; 
  display: flex;
  justify-content: center; 
}

.logo-image {
  max-width: 300px; 
  height: 130px;
  margin-bottom: -1rem;
}

.toast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; 
}

.toast {
  width: 100%;
  text-align: center;
  opacity: 0.9; 
  padding: 20px; 
  border-radius: 8px; 
  background-color: #f2f2f2; 
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: shake 0.5s ease;
}

  @keyframes shake {
    0% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

.toast-content {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;

}

.toast-icon {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.toast.is-success .toast-icon {
  color: #28a745; 
}

.toast.is-danger .toast-icon {
  color: #dc3545; 
}

.toast-message {
  font-size: 1.1rem;
  color: #dc3545; 
}


/*MEDIA QUERIES*/

@media (max-width: 768px){

  .section {
    padding: 1rem;
  }

  .box {
    max-width: 310px;
    padding: 1.5rem 1.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .field {
    margin-bottom: 1.8rem;
  }

  .label {
    font-size: .8rem; 
    font-weight: 400; 
    margin-bottom: .2rem;
  }

  .help.is-danger {
    font-size: 0.875rem;
  }

  .button.is-primary {
    width: 100%;
    font-size: 1.1rem;
  }
  
  .toast-container {
    width: 100%;
    max-width: 400px;
  }
  
  .toast {
    font-size: 1.2rem; 
  }
  
  .toast-icon {
    font-size: 1.5rem;
  }
  
  .toast-message {
    font-size: 1rem; 
  }
}


@media (max-width: 492px) {
  .section {
    background-image: url('/assets/fondo general isloggedIn.png');
    background-size: cover;
    padding: 1.2rem;
  }

  .box {
    max-width: 95%;
    padding: 2rem 1.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .field {
    margin-bottom: 1.8rem;
  }

  .label {
    font-size: 1rem; 
    font-weight: 400; 
    margin-bottom: .2rem;
  }

  .input {
    position: relative;
    background-color: #f9f9f9a7; 
    border: 1px solid #979595; 
    border-radius: 8px; 
    font-size: 1.2rem; 
    width: 100%; 
    color: #333; 
    padding-left: 0.5rem; 
    padding: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s; 
  
    &:focus {
      border-color: #c2c6ca; 
      box-shadow: 0 0 5px rgba(185, 189, 194, 0.5); 
      outline: none; 
      background-color: #e6e6e6; 
    }
  }
  
  .icon.is-left i {
    color: #a7a5a5; 
    transition: color 0.3s ease;
    font-size: .5rem;
  }
  
  .input:focus ~ .icon.is-left i {
    color: #666565; 
  }
  
  .toggle-password {
    cursor: pointer;
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .toggle-password i {
    color: #6f6d6d; 
    font-size: .8rem;
  }
  
  .toggle-password i:hover {
    color: #000; 
  }
  
  .icon.is-left {
    color: #787676; 
    position: absolute;
    left: 10px;
    top: 51%; 
    transform: translateY(-50%);
    pointer-events: none; 
  }
  
  .icon.is-left i:active {
    color: #343232; 
  }
  
  .button.is-primary {
    width: 100%; 
    padding: .7rem; 
    border-radius: 5px; 
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    transition: background-color 0.3s ease; 
    margin: auto;
    margin-top: 2.7rem;
    margin-bottom: -1.4rem;
    font-size: 1rem; 
  }
  
  .button.is-primary:hover {
    background-color: #0056b3; 
    border-color: #0056b3;
  }

  .help.is-danger {
    font-size: 0.875rem;
  }

  .button.is-primary {
    width: 100%;
    font-size: 1.1rem;
  }

  .toast-container {
    width: 100%;
    max-width: 350px;
  }
  
  .toast {
    font-size: 1.2rem; 
  }
  
  .toast-icon {
    font-size: 1.8rem;
  }
  
  .toast-message {
    font-size: 1rem; 
  }
}