.footer-container {
    background-color: #ffffff;
    color: #444343;
    text-align: center;
  }

  .container {
    margin: 0 auto;
    padding: 1rem 20px;
  }

  .footer-logos-row,
  .footer-images-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-logo img,
  .footer-image-left img,
  .footer-image-right img {
    max-width: 150px;
    height: auto;
  }

  .footer-images-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer-image-center img {
    max-width: 200px;
    height: auto;
  }

  .footer-rights {
    font-size: 0.9rem;
  }
