.footer-container {
    background-color: #ffffff;
    color: #444343;
    text-align: center;
  }

  .container {
    margin: 0 auto;
    padding: 2rem 20px;
  }

  .footer-organizers {
    text-align: left;
    padding-left: 20px;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #2f5aa6;
  }

  .footer-logos-row,
  .footer-images-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-logo img,
  .footer-image-left img,
  .footer-image-right img {
    max-width: 200px;
    height: auto;
  }

  .footer-images-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer-image-center img {
    max-width: 200px;
    height: auto;
  }

  .footer-rights {
    margin-top: 2rem;
    font-size: 1.1rem;
  }
