<footer class="footer-container">
    <div class="container">
      <div class="footer-logos-row">
        <div class="footer-logo">
          <img src="/assets/logo portoviejo footer.png" height="75" width="75" alt="Logo Portoviejo">
        </div>
        <div class="footer-logo">
          <img src="/assets/logo FEF footer.png" height="75" width="75" alt="Logo FEF">
        </div>
        <div class="footer-logo">
          <img src="/assets/formativa nine footer.png" height="75" width="75" alt="Formativa Nine">
        </div>
        <div class="footer-logo">
          <img src="/assets/aso academia footer.png" height="75" width="75" alt="Aso Academia">
        </div>
        <div class="footer-image-center">
          <img src="/assets/copa mundialito.png" height="75" width="75" alt="Copa Mundialito">
        </div>
      </div>

      <div class="footer-rights">
        <p>Mundialito - Todos los derechos reservados © 2024</p>
      </div>
    </div>
  </footer>
