<div class="hero">
  <h1 class="title">Equipos</h1>
  <div class="dashboard-container">
    <div class="team-select-card">
      <div class="content">

        <div class="select-block">
          <div class="field">
            <label class="label" for="team">Equipos Registrados</label>
            <div class="control">
              <div class="select">
                <select id="team" (change)="onTeamChange($event)">
                  <option value="" disabled selected>Seleccionar Equipo</option>
                  <option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Segundo bloque: Botones -->
        <div class="button-block">
          <button class="btn add-person" [disabled]="!selectedTeamId" (click)="openModal()">Agregar Jugador</button>
          <button class="btn view-players" [disabled]="!selectedTeamId" (click)="cardsPlayers()">Ver Jugadores</button>
        </div>
      </div>
    </div>

    <div class="toast-container">
      <div *ngIf="showSuccessToast" class="notification is-success toast">
        <div class="toast-content">
          <img src="/assets/pulgar arriba1.png" alt="Éxito" class="toast-icon">
          <div class="toast-message">{{ toastMessage }}</div>
        </div>
      </div>
      <div *ngIf="showErrorToast" class="notification is-danger toast">
        <div class="toast-content">
          <img src="/assets/pulgar abajo.png" alt="Error" class="toast-icon">
          <div class="toast-message">{{ toastMessage }}</div>
        </div>
      </div>
    </div>


    <!-- Nueva tarjeta para la información del equipo -->
    <div class="team-info-card" *ngIf="selectedTeamData">
      <button class="close-button" (click)="closeTeamCard()">×</button>
      <div class="team-info-content">
        <!-- Sección izquierda con nombre y datos -->
        <div class="team-info-left">
          <h2>{{ selectedTeamData.name }}</h2>
          <p><strong>País:</strong> {{ selectedTeamData.country }}</p>
          <p><strong>Ciudad:</strong> {{ selectedTeamData.city }}</p>
        </div>
        <!-- Sección derecha para el logo -->
        <div class="team-info-right">
          <!-- Aquí iría el logo del equipo -->
          <img *ngIf="selectedTeamData.logoImage" [src]="selectedTeamData.logoImage" alt="Logo del equipo" class="team-logo">
        </div>
      </div>
      <!-- Botón para editar información o cambiar la imagen -->
      <div class="edit-button-container">
        <button class="button is-primary">Editar Información</button>
      </div>
    </div>


  </div>
</div>


<!-- Modal para agregar un jugador -->

<div class="modal" [ngClass]="{'is-active': isModalOpen}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Agregar Jugador</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <form (submit)="submitForm()">
        <div class="field">
          <label class="label">Documento de Identificacion</label>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="personData.personalId" name="personalId" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Nombres</label>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="personData.firstname" name="firstName" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Apellidos</label>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="personData.lastname" name="lastName" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Fecha de Nacimiento</label>
          <div class="control">
            <input class="input" type="date" [(ngModel)]="personData.birthdate" name="birthdate" required>
          </div>
        </div>


        <div class="field field-center-label">
          <label class="label" for="country">País</label>
          <div class="control">
            <div class="select">
              <select
                id="country"
                name="country"
                [(ngModel)]="personData.country"
                required
                #country="ngModel">
                <option value="" disabled selected>Seleccione país de nacionalidad</option>
                <option *ngFor="let country of countriesList | keyvalue" [value]="country.key">{{ country.key }}</option>
              </select>
            </div>
            <p class="help is-danger" *ngIf="country.invalid && (country.dirty || country.touched)">
              El país es requerido.
            </p>
          </div>
        </div>

        <div class="field">
          <label class="label" for="type">Tipo</label>
          <div class="control">
            <div class="select">
              <select
                id="type"
                name="type"
                [(ngModel)]="personData.type"
                required
                #type="ngModel"
              >
                <option *ngFor="let type of types" [value]="type.value">
                  {{ type.label }}
                </option>
              </select>
            </div>
            <p class="help is-danger" *ngIf="type.invalid && (type.dirty || type.touched)">
              Tipo es requerido.
            </p>
          </div>
        </div>

        <div class="field">
          <label class="label">Foto</label>
          <div class="control">
            <div class="custom-file-input-wrapper">
              <input class="input custom-file-input" type="file" (change)="onFileSelected($event)" name="profilePhotoFile" required>
              <div class="overlay-text">Buscar Foto en el dispositivo</div>
            </div>
          </div>
          <div class="image-preview" *ngIf="previewImageUrl">
            <label>Preview:</label>
            <img [src]="previewImageUrl" alt="Previsualización de la foto">
            <button type="button" class="button is-danger remove-button" (click)="removeSelectedImage()">Eliminar</button>
          </div>
        </div>

        <div class="buttons">
          <button class="button is-primary" type="submit">Agregar</button>
          <button type="button" class="button is-light" (click)="closeModal()">Cancelar</button>
        </div>
      </form>
    </section>
  </div>
</div>

