.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background: url('/assets/estadio fondo dashboard.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.toast-container {
  position: fixed;
  top: 30%; /* Ajusta este valor para mover hacia abajo el contenedor */
  left: 50%;
  transform: translate(-50%, -50%); /* Centra horizontalmente y ajusta la posición vertical */
  width: 100%;
  max-width: 600px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espacio entre toasts si ambos se muestran */
}

.toast {
  width: 90%; /* Aumenta el ancho del toast */
  text-align: center;
  opacity: 0.9;
  color: white;
  font-size: 1.55em; /* Aumenta el tamaño del texto */
  padding: 15px; /* Aumenta el padding para un toast más grande */
  border-radius: 8px; /* Agrega un poco de redondeo a las esquinas */
}

.toast-icon {
  width: 70px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto;
  margin-bottom: 0px; /* Espacio entre la imagen y el texto */
}

.toast-message {
  margin-top: 10px;
}


  
  .title {
    color: #2f51b7;
    font-size: 3em;
    margin-top: 1rem;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  
  .dashboard-container {
    width: 100%;
    height: 600px;
    margin-top: 20px;
  }
  
  .team-select-card {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    width: 100%;
    height: 200px; 
    max-width: 1000px; // Aumenta el ancho máximo para la tarjeta
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto; // Centra la tarjeta horizontalmente
    margin-right: auto; // Centra la tarjeta horizontalmente
  }
  
  .content {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
  }
  
  .select-block {
    width: 100%; 
    padding-top: 10px;
    display: flex; // Utiliza Flexbox para organizar el contenido
    flex-direction: column;
    justify-content: center; // Centra verticalmente el contenido dentro del bloque
    align-items: center;
    height: 70%; // Asegura que el bloque ocupe toda la altura de la tarjeta
  }
  
  .label, .select select {
    margin: 0 auto; // Centra horizontalmente si es necesario
  }

  .label {
    color: #000000; // Color negro para el texto del label
    font-weight: 500; // Grosor del texto
    font-size: 1.5rem; // Mantiene el tamaño de la fuente
    margin-bottom: 10px;
    text-align: center; // Centra el texto del label
    display: block; // Asegura que el label se comporte como un bloque completo
    width: 100%; // Asegura que ocupe todo el ancho de la tarjeta
  }

  .select select {
    background-color: #dfe0e0;
    border: none;
    color: #727272;
    padding: 3px 12px; // Asegura espacio interno suficiente
    padding-right: 40px; // Añade espacio a la derecha para la flecha
    border-radius: 4px;
    width: 500px;
    font-size: 1.2em;
    height: 40px;
    line-height: 20px; // Alinea el texto verticalmente
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .select {
    position: relative; // Necesario para posicionar la flecha con respecto al select
    width: 100%;
  }

  .select::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%; // Centra la flecha verticalmente
    transform: translateY(-50%); // Asegura que la flecha esté centrada
    pointer-events: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ffffff; // Flecha blanca generada con CSS
    width: 0;
    height: 0;
  }
  
  .button-block {
    width: 35%;
    display: flex;
    margin-top: .5rem;
    margin-right: 1.5rem;
    flex-direction: column; /* Mantiene la dirección en columna */
    margin: auto; /* Centra el contenedor */
    align-items: stretch; /* Asegura que los botones ocupen todo el ancho disponible */
    gap: 15px;
}
  
.button-block .btn {
    padding: 12px 25px; /* Mantiene el padding */
    background-color: #1e6bbd;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0; /* Elimina la separación entre los botones */
    flex: 1; /* Hace que los botones se expandan uniformemente */
    text-align: center; /* Asegura que el texto esté centrado */
}

.button-block .btn:hover {
    background-color: #154da6;
}


.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  opacity: 0.9;
  transition: opacity 0.5s ease;
}

.toast.is-hidden {
  opacity: 0;
  visibility: hidden;
}

  
  @media (max-width: 992px) {

    
    .hero {
      padding: 15px; // Reduce el padding general
    }
  
    .title {
      font-size: 2.2em; // Reduce el tamaño de la fuente del título
      margin-bottom: 15px; // Reduce el espacio inferior del título
    }
  
    .dashboard-container {
      width: 100%;
      margin-top: 15px; // Reduce el espacio superior
    }
  
    .team-select-card {
      height: 180px; // Reduce la altura de la tarjeta
      max-width: 90%; // Reduce el ancho máximo de la tarjeta
      padding: 15px; // Reduce el padding interno
    }
  
    .select-block {
      width: 70%; // Reduce el ancho del bloque de selección
      height: 65%; // Ajusta la altura del bloque de selección
    }

    .select {
        width: 100%;
        margin: auto;
      }
  
    .select select {
      width: 480px; // Reduce el ancho del select
      font-size: 1.1em; // Reduce el tamaño de la fuente del select
      height: 35px; // Reduce la altura del select
      padding: 5px 10px; // Ajusta el padding del select
      margin-left: 35px;
    }
  
    .button-block {
        width: 65%; // Mantiene el tamaño del bloque de botones
        margin: auto;
        margin-left: 55px;
        flex-direction: column;
      
        .btn {
 // Reduce ligeramente el padding de los botones
          font-size: 0.9em; // Reduce el tamaño de la fuente en los botones
        }
      
        .add-person {
          padding: 10px 15px;
          font-size: .9em; // Ajusta el tamaño de la fuente del botón "Agregar Jugador"
        }
        
        .view-players {
          padding: 10px 15px;
          font-size: 0.9em; // Mantiene el tamaño de la fuente en "Ver Jugadores"
          margin-bottom: 0; // Elimina el margen inferior del último botón
        }
      }

    
  }

  @media (max-width: 768px) {

    .dashboard-container {
        width: 100%;
        margin-top: 30px; // Reduce el espacio superior
      }

    .team-select-card {
        height: auto; // Permite que la tarjeta ajuste su altura automáticamente
        padding: 20px; // Aumenta el padding para que haya más espacio alrededor del contenido
        max-width: 90%; // Ajusta el ancho máximo de la tarjeta para pantallas pequeñas
        box-sizing: border-box; // Asegura que el padding se incluya en el ancho y la altura
      }
    
    .content {
      display: flex;
      flex-direction: column; // Coloca el select y los botones en columna
      align-items: center; // Centra el contenido horizontalmente

    }

    .label {
        font-size: 1.2rem; // Mantiene el tamaño de la fuente
        margin-bottom: 15px;
      }
  
    .select-block{
      width: 100%; // Ocupa todo el ancho disponible
      margin-bottom: 20px; // Añade margen inferior para separar los elementos
      padding: 7px;

    }
  
    .button-block {
      display: flex;
      flex-direction: row; // Coloca los botones en columna
      align-items: center; // Centra los botones horizontalmente
      margin-right: 0; // Elimina el margen derecho
      margin: auto;
    }
  
    .button-block .btn {
     
      width: 40%; // Ajusta el ancho de los botones para que no ocupen todo el ancho
      margin-bottom: 10px; // Añade un poco de espacio entre los botones
    }
  
    .select select {
      width: 350px; // Ajusta el ancho del select para que no ocupe todo el ancho
      font-size: 1em; // Ajusta el tamaño de la fuente del select
      margin: auto;
      padding: 0px 15px; // Aumenta el padding para mejor usabilidad en pantallas pequeñas
    }
  }
  
  @media (max-width: 490px) {

    .hero {

      background: url('/assets/fondo dashboard movil.png'); // Agrega la imagen como fondo
      background-size: cover; // Asegura que la imagen cubra toda el área
      background-position: center; // Centra la imagen de fondo
      background-repeat: no-repeat; // Evita que la imagen se repita
    }
    

    .team-select-card {
      height: auto; // Permite que la tarjeta ajuste su altura automáticamente
      padding: 15px; // Reduce el padding para ahorrar espacio
      max-width: 95%; // Ajusta el ancho máximo de la tarjeta para pantallas pequeñas
      box-sizing: border-box; // Asegura que el padding se incluya en el ancho y la altura
    }
    
    .content {
      display: flex;
      flex-direction: column; // Coloca el select y los botones en columna
      align-items: center; // Centra el contenido horizontalmente
    }
  
    .label {
      font-size: 1rem; // Reduce el tamaño de la fuente para móviles
      margin-bottom: 15px; // Reduce el margen inferior
    }
  
    .select-block, .button-block {
      width: 60%; // Ocupa todo el ancho disponible
      margin-bottom: 15px; // Reduce el margen inferior para ahorrar espacio
      padding: 10px; // Reduce el padding para ahorrar espacio
    }
  
    .button-block {
      flex-direction: column; // Coloca los botones en columna
      align-items: center; // Centra los botones horizontalmente
      margin-right: 0; // Elimina el margen derecho
      margin: auto;
    }
  
    .button-block .btn {
      width: 90%; // Ajusta el ancho de los botones para que se adapten al móvil
      font-size: 0.9em; // Reduce el tamaño de la fuente en los botones
      margin-bottom: 8px; // Reduce el espacio entre los botones
    }
  
    .select select {
      width: 280px; // Reduce el ancho del select para que se adapte al móvil
      font-size: 0.9em; // Reduce el tamaño de la fuente del select
      padding: 5px 10px; // Reduce el padding para mejor usabilidad en pantallas pequeñas
    }
  }



  /*MODAL STILOS*/
  .modal.is-active {
    display: block;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent; /* Aumenta la transparencia para ver más detrás */
    z-index: 1000;
  
    .modal-card {
      max-width: 500px;
      margin: 50px auto;
      background: #ffffff; /* Fondo blanco para la tarjeta del modal */
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 4px 15px rgba(224, 224, 224, 0.2); /* Sombra sutil para darle profundidad */
    }

    .modal-background{
      background-color: rgba(0, 0, 0, 0.512);
    }
  
    .modal-card-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      
    }
  
    .delete {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
    }

    .modal-card-title {
      color: #616161; // Mantiene el color gris oscuro
      font-size: 1.7rem; // Aumenta el tamaño de la fuente para destacar el título
      font-weight: bold; // Hace que el título sea más prominente
      text-align: center; // Centra el texto horizontalmente
      width: 100%; // Asegura que el título ocupe todo el ancho disponible
      margin-bottom: 0; // Elimina cualquier margen inferior por defecto
      letter-spacing: 0.5px; // Añade un ligero espaciado entre letras para mejorar la legibilidad
      border-bottom: 1px solid #e0e0e0; // Añade una línea sutil debajo del título para separarlo del contenido
      background-color: #f5f5f5; // Fondo gris claro para resaltar el título
    }

    .modal-card-body {
      background-color: #ffffff; // Fondo blanco para el cuerpo del modal
      padding: 20px; // Espaciado interno para el contenido del cuerpo del modal
      border-radius: 8px; // Bordes redondeados para un diseño suave
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); // Sombra para darle profundidad
    }

    .modal-card-body .input {
      background-color: #e0e0e0; // Fondo gris claro para los inputs
      border: 1px solid #d5d5d5; // Borde gris oscuro para los inputs
      border-radius: 4px; // Bordes ligeramente redondeados para un diseño suave
      padding: 10px; // Espaciado interno adecuado para el texto dentro de los inputs
      color: #424242; // Color del texto gris oscuro
      box-sizing: border-box; // Asegura que el padding y el borde se incluyan en el ancho total del input
      width: 100%; // Asegura que los inputs ocupen todo el ancho disponible
    }
    
    .modal-card-body .input:focus {
      border-color: #616161; // Borde un poco más oscuro cuando el input está en foco
      outline: none; // Elimina el borde por defecto del navegador cuando el input está en foco
    }
  
    .label {
      color: #6d6d6d; /* Color azul para las etiquetas */
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 5px;
      margin-left: 5px;
      text-align: left; /* Alinea el label a la izquierda */
      display: block; /* Asegura que el label ocupe toda la línea */
    }
  
    .button.is-primary {
      background-color: #00b8d4;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      color: white;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #0288d1; /* Azul más oscuro en hover */
      }
    }
  }

  /* Estilo para el contenedor personalizado del input de archivo */
.custom-file-input-wrapper {
  position: relative;
  width: 100%;
}

.custom-file-input {
  opacity: 0; /* Oculta el input de archivo original */
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
  height: 50px; /* Ajusta la altura del input para que sea consistente */
  cursor: pointer;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0; /* Fondo gris claro */
  color: #424242; /* Texto gris oscuro */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  pointer-events: none; /* Permite hacer clic en el input debajo */
  border: 1px solid #d5d5d5; /* Borde gris oscuro */
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
}

.image-preview {
  margin-top: 10px;
  text-align: center; /* Centra la imagen y el botón de eliminar */
}

.remove-button {
  margin-top: 10px; /* Espacio entre el input de archivo y el botón de eliminar */
  background-color: #5b5555; /* Color de fondo rojo claro */
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 8px 15px;
}

.remove-button:hover {
  background-color: #343232; /* Rojo más oscuro en hover */

  
}

.buttons {
  display: flex;
  justify-content: center; /* Alinea los botones al final del formulario */
  gap: 20px; /* Añade un pequeño espacio entre los botones */
  margin-top: 50px; /* Añade un margen superior para separar los botones del formulario */
}

.button.is-light {
  background-color: #c5c4c4; /* Fondo gris claro para el botón de cancelar */
  border: 1px solid #c2c0c0; /* Borde gris más oscuro */
  color: #2c2c2c; /* Color de texto gris oscuro */
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button.is-light:hover {
  background-color: #d5d5d5; /* Color ligeramente más oscuro en hover */
  border-color: #a0a0a0; /* Borde más oscuro en hover */
}



  /*estilos para la tarjeta del equipo*/

  .dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    gap: 20px;
    
  }
  
  .team-info-card {

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(15px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 25px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    min-height: 250px; /* Altura mínima de la tarjeta */
  }
  .team-info-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .team-info-left {
    flex: 1;
    padding-right: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido y el botón estén separados */
  }
  
  .team-info-right {
    flex:1; /* Aumenta el espacio para la imagen */
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px; /* Ajusta este valor para darle más espacio al logo */
  }
  
  .team-info-card h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1b1717;
    margin-bottom: 15px;
  }
  
  .team-info-card p {
    margin: 5px 0;
    padding: 0;
    text-align: left;
    color: #000000;
    font-size: 1.4rem; /* Aumenta el tamaño del texto general del párrafo */
  }
  
  .team-info-card p strong {
    font-size: 1.5rem;
    margin-right: 5px;
    color: #36393c; /* Cambia esto al color que prefieras */
    font-weight: bold; /* Asegura que el texto esté en negrita */
  }
  
  
  .team-logo {
    max-width: 70%;
    height: 250px; /* Ajusta el tamaño del logo */
    object-fit: contain; /* Asegura que el logo mantenga su proporción */
  }

  .edit-button-container {
    margin-top: 20px; /* Aumenta el margen superior para bajar más el botón */
    align-self: center;
  }
  
  .button.is-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-size: 14px;
   
    transition: background-color 0.3s ease;
  }
  
  .button.is-primary:hover {
    background-color: #0056b3;
  }

  .close-button {
    position: absolute;
    top: 0px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
  }
  
  .close-button:hover {
    color: #160c0c;
  }
  
  
  
  
  
  
  