<header class="header fixed-header" role="banner">
  <div class="container">
    <div class="header-content" role="navigation" aria-label="Main navigation">

      <!-- logo y botones de la izquierda -->
      <div class="header-left">
        <div class="header-logo-container">
          <img *ngIf="!isLoggedIn" src="/assets/mango-logo-1.png" alt="Mundialito Logo" class="header-logo">
          <img *ngIf="isLoggedIn" src="/assets/logo mango 2.png" alt="Mundialito Logo" class="header-logo">
        </div>
        <div class="header-left-buttons">
          <button *ngIf="isLoggedIn" class="button is-primary" [routerLink]="['/dashboard']" routerLinkActive="active-link">
            <img *ngIf="isLinkActive('/dashboard')" src="/assets/balon icono header.png" class="icono-balon"> Home
          </button>
          <button *ngIf="isLoggedIn" class="button is-info" [routerLink]="['/reportes']" routerLinkActive="active-link">
            <img *ngIf="isLinkActive('/reportes')" src="/assets/balon icono header.png" class="icono-balon"> Ver Reportes
          </button>
          <button *ngIf="isLoggedIn && isAdmin" class="button is-primary" (click)="onRegister()" routerLinkActive="active-link">
            <img *ngIf="isLinkActive('/register')" src="/assets/balon icono header.png" class="icono-balon"> Registrar Usuario
          </button>
        </div>
      </div>

      <!-- botones de la derecha -->
      <div class="header-right-buttons">
        <button *ngIf="!isLoggedIn" class="button is-primary" [routerLink]="['/home']" routerLinkActive="active-link">
          <img *ngIf="isLinkActive('/home')" src="/assets/balon icono header.png" class="icono-balon"> Inicio
        </button>
        <button *ngIf="!isLoggedIn" class="button is-primary" [routerLink]="['/login']" routerLinkActive="active-link">
          <img *ngIf="isLinkActive('/login')" src="/assets/balon icono header.png" class="icono-balon"> Iniciar Sesión
        </button>
        <button *ngIf="isLoggedIn" class="button is-danger" (click)="openLogoutModal()">Salir</button>
      </div>
    </div>
  </div>
</header>


<!-- Modal para cerrar sesión -->
<div class="modal" [ngClass]="{'is-active': showLogoutModal}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <h1 class="title">¿Estás seguro de que quieres cerrar sesión?</h1>
      <div class="buttons is-centered">
        <button class="button is-danger" (click)="confirmLogout()">Sí, Cerrar Sesión</button>
        <button class="button is-light" (click)="closeLogoutModal()">Cancelar</button>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeLogoutModal()"></button>
</div>
