<header class="header fixed-header">
  <div class="container">
    <div  class="header-content">
      <img src="/assets/logo mango 2.png" [routerLink]="['/dashboard']" alt="Logo" class="header-logo">
      <div class="header-buttons">
        <button *ngIf="isLoggedIn" class="button is-info" [routerLink]="['/reportes']">Ver Reportes</button>
        <button *ngIf="isLoggedIn" class="button is-light" [routerLink]="['/teams']">Registrar Equipo</button>
        <button *ngIf="!isLoggedIn" class="button is-primary" (click)="onLogin()">Iniciar Sesión</button>
        <button *ngIf="!isLoggedIn" class="button is-primary" (click)="onRegister()">Registrar Usuario</button>
        <button *ngIf="isLoggedIn" class="button is-danger" (click)="onLogout()">Salir</button>
      </div>
    </div>
  </div>
</header>
