.header {
  position: fixed;
  width: 100%;
  background-color: rgba(12, 108, 167, 0.509);
  backdrop-filter: blur(200px);
  z-index: 1000;
  padding: 10px 0;
  box-shadow:  0 -2px 18px 5px rgba(255, 255, 255, 0.199);

  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  /* logo y botones de la izquierda */
  .header-left {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .header-logo-container {
    display: flex;
    align-items: center;
  }

  .header-logo {
    max-height: 50px;
    margin-left: 1rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
  }

  .header-left-buttons {
    display: flex;
    gap: 10px;
  }

  /* botones a la derecha */
  .header-right-buttons {
    display: flex;
    gap: 20px;
    margin-right: 20px;
  }

  .home-icon {
    display: none;
  }

  /* estilos generales para los botones */
  .button {
    background: transparent;
    border: none;
    color: #c9c9c9;
    font-size: .9rem;
    font-weight: 400;
    padding: 0.55rem 1.2rem;
    text-decoration: none;
    position: relative;
    padding-left: 35px;
    transition: color 0.3s ease;

    &:hover {
      color: #ffffff;
    }
  }

  .active-link {
    color: #ffffff;
  }

   /* BALON ICONO ROUTER LINK ACTIVATE  */

  .icono-balon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    vertical-align: middle;
    pointer-events: none; 
  }


     /* RESPONSIVE HEADER  */
  @media (max-width: 768px) {

    .header-left {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .header-logo {
      display: none;
    }

    .header-left-buttons {
      gap: -2rem;
    }

    .header-right-buttons {
      gap: 2px;
      margin-right: 5px;

      .button {
        padding: 0.6rem 1rem;
        font-size: .8rem;
      }
    }
    .button {
      font-size: .8rem;
      padding: 0.55rem 1rem;
    }

       /* BALON ICONO ROUTER LINK ACTIVATE  */

    .icono-balon {
      position: absolute;
      left: -5px;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      vertical-align: middle;
      pointer-events: none; 
    }
  }

  @media (max-width: 490px) {

    .container {
      padding: 0px 8px;
    }

    .header-content {
      gap: 0px;
    }

    .header-left {
      display: flex;
      align-items: center;
      gap: 0px;
    }

    .header-logo {
      display: none;
    }

    .header-left-buttons {
      gap: -0px;
    }

    .header-right-buttons {
      gap: 2px;
      margin-right: 5px;

      .button {
        padding: 0.6rem 1rem;
        font-size: .8rem;
      }
    }
    .button {
      font-size: .8rem;
      padding: 0.55rem 1rem;
    }
  }
 
}


/* MODAL PARA CERRAR SESIÓN */

.modal-background {
  background-color: rgba(52, 52, 52, 0.301);
  backdrop-filter: blur(8px);  
  -webkit-backdrop-filter: blur(8px);  
}

.modal.is-active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: rgba(245, 243, 243, 0.894); 
  padding: .8rem;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); 
  width: 100%;
  max-width: 450px;
  text-align: center;
  animation: popIn 0.3s ease-in-out;
  transform-origin: center;
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  65% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.box {
  background-color: transparent;
  padding: 1.5rem 1rem;
  border-radius: 10px;
}

.modal .title {
  font-size: 1.1rem;
  width: 100%;
  font-weight: 500;
  color: #333;
  margin-bottom: 1.5rem;
}

.modal .buttons {
  margin-top: 1.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-size: 1rem;
}

.modal .button.is-danger {
  background-color: #297eee;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  padding: 10px 20px; 
  flex: 1; 
  font-size: 0.85rem;
}

.modal .button.is-light {
  background-color: #d2d0d0;
  color: #333;
  padding: 10px 20px; 
  flex: 1; 
  font-size: 0.85rem;
}

/* RESPONSIVE PARA MODAL DE CERRAR SESIÓN */
@media (max-width: 768px) {
  .modal-content {
    background-color: rgba(245, 243, 243, 0.894); 
    padding: 0rem;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); 
    width: 100%;
    max-width: 330px;
    text-align: center;
    animation: popIn 0.3s ease-in-out;
    transform-origin: center;
  }

  .modal .buttons {
    flex-direction: column; 
    gap: 5px; 
  }

  .modal .button.is-danger,
  .modal .button.is-light {
    width: 100%;
    font-size: 1rem; 
  }
}


