.header {
  position: fixed;
  width: 100%;
  background-color: rgba(12, 108, 167, 0.509);
  backdrop-filter: blur(200px);
  z-index: 1000;
  padding: 15px 0;
  box-shadow:  0 -2px 18px 5px rgba(255, 255, 255, 0.199);

  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  /* logo y botones de la izquierda */
  .header-left {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .header-logo-container {
    display: flex;
    align-items: center;
  }

  .header-logo {
    max-height: 60px;
    margin-left: 2rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
  }

  .header-left-buttons {
    display: flex;
    gap: 10px;
  }

  /* botones a la derecha */
  .header-right-buttons {
    display: flex;
    gap: 10px;
    margin-right: 40px;
  }

  .home-icon {
    display: none;
  }

  /* estilos generales para los botones */
  .button {
    background: transparent;
    border: none;
    color: #e6dddd;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #ffffff;
    }
  }

  .active-link {
    color: #ffffff;
    border-bottom: 2px solid #ffffff; 
  }




  @media (max-width: 768px) {


    .header-logo {
      max-height: 60px;
      margin-left: 0.1rem;
    }

    .header-left-buttons {
      gap: 8px;
    }

    .header-right-buttons {
      gap: 8px;
      margin-right: 5px;

      .button {
        padding: 0.6rem 1rem;
      }
    }
  }

  @media (max-width: 490px) {
    .header-logo {
      display: none;
    }
    .header-left-buttons{
      margin-left: -25px;
      gap: 15px;
    }

    .header-left-buttons .button {
      padding: 0.4rem 0.8rem; 
      font-size: 0.9rem; 

      margin-left: -10px;
    }

    .header-right-buttons {
      gap: 12px;
      margin-right: -5px;

      .button {
        padding: 0.5rem 0.8rem;
        font-size: 0.9rem;
      }
    }
  }
}




.modal-background {
  background-color: rgba(52, 52, 52, 0.301);
}

.modal.is-active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white; 
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); 
  max-width: 500px;
  width: 100%;
  text-align: center;
  animation: popIn 0.3s ease-in-out;
  transform-origin: center;
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  65% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.box {
  background-color: transparent;
  padding: 2rem;
  border-radius: 10px;
}

.modal .title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1.5rem;
}

.modal .buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.modal .button.is-danger {
  background-color: #297eee;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.modal .button.is-light {
  background-color: #d2d0d0;
  color: #333;
}

