<div class="container">
  <h2 class="title">Players</h2>
  <div class="columns is-multiline">
    <div *ngFor="let player of players" class="column is-one-quarter">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img ngSrc="player.profilePhoto || 'default-profile.jpg'" alt="Profile Photo" fill>
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{ player.firstname }} {{ player.lastname }}</p>
              <p class="subtitle is-6">{{ player.personalId }}</p>
              <p class="subtitle is-6">{{ player.birthdate | date }}</p>
              <p class="subtitle is-6">Type: {{ player.type }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
