:host {
    background-image: url('/assets/fondo tarjeta jugadores 1080.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    min-height: 100vh;
    padding: 2rem;
  }


  .container {
    margin-top: 50px; /* Añade un margen superior para bajar el contenedor */
    padding: 25px;
  }


.team-info {
  background: rgba(255, 255, 255, 0.6); /* Fondo blanco semitransparente */
  backdrop-filter: blur(10px); /* Aplicar desenfoque para el efecto vidrio */
  -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px 30px; /* Espaciado interno */
  margin-top: 30px; /* Margen superior para separación */
  width: 100%;

}

.title {
  text-align: center;
  color: black;
  margin-top: .5rem;
  font-size: 2rem;
}

/* Estilos para la cabecera de la información del equipo */

.team-info-header {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative; 
}

.team-logo {
  max-width: 150px; 
  height: auto;
  position: absolute;
  top: 80%; 
  right: 2%; 
}

/* Estilos para los datos del equipo */

.team-info p {
  color: #333; 
  font-size: 1.3rem;
  margin-bottom: .5rem;
}

.team-info p strong {
  color: black; 
}

/* Estilos para la tabla */

.players-container {
  background: rgba(255, 255, 255, 0.6); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 10px; 
  padding: 20px; 
  margin-top: 20px; 
}

.section-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

/* Estilos para la cabecera de la tabla de jugadores */
.players-header {
  display: flex;
  justify-content: center; /* Centra el título "Jugadores Inscritos" */
  align-items: center;
  margin-bottom: 20px;
  position: relative; /* Posiciona el botón de imprimir de forma absoluta */
}

.print-button {
  position: absolute;
  right: 0;
}



.no-players-message {
  text-align: center;
  color: #ff3860; 
  font-size: 1.2rem;
  margin: 20px 0;
}

/* Estilos para la tabla */

.players-table table {
  width: 100%;
  border-collapse: collapse;
}

.players-table th {
  background-color: #00b8d4; 
  color: white;
  padding: 10px;
  text-align: center;
}

.players-table td {
  background-color: white;
  color: #333;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

/* Estilos para la imagen del jugador en la tabla */
.player-photo {
  max-width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%; 
}


/*Toast*/

  .toast-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .toast {
    width: 90%;
    background-color: #dcdada; 
    text-align: center;
    opacity: 0.95;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .toast-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .button.is-success {
    background-color: #28a745; /* Color verde para el botón de Aceptar */
    color: white;
    border: none;
  }

  .button.is-success:hover {
    background-color: #218838; /* Color verde más oscuro en hover */
  }

  .button.is-info {
    background-color: #007bff; /* Color azul para el botón de Cancelar */
    color: white;
    border: none;
  }

  .button.is-info:hover {
    background-color: #0056b3; /* Color azul más oscuro en hover */
  }

  .toast-message {
    font-size: 1.25em;
    color: #333; /* Color del texto dentro del toast */
  }

  /* modal editar jugador */
  .modal-background {
    background-color: rgba(33, 32, 32, 0.7); /* Blanco medio transparente */
  }

  /* Estilo general para el modal */
.modal.is-active {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
}

/* Estilo para la tarjeta del modal */
.modal-card {
  max-width: 600px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 30px 20px 30px 20px;
}

/* Estilo para la cabeza del modal */
.modal-card-head {
  background-color: #f5f5f5;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.modal-card-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: black;
}

.modal-card-head .delete {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
}

.modal-card-head .delete:hover {
  color: #e74c3c;
}

/* Estilo para el cuerpo del modal */
.modal-card-body {
  padding: 1.5rem;
  background-color: white;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.2rem;
  margin-left: 8px;
  display: block;
}

/* Estilo para el pie del modal */
.modal-card-foot {
  padding: 1rem;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal-card-foot .button {
  margin-left: 10px;
}

/* Estilo para los campos del formulario */

.field {
  margin-bottom: 1rem;
}

.input {
  background-color: #f0f0f0;
  border: 1px solid #bcbbbb;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #000;
}

.input:focus {
  background-color: #e0e0e0;
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  color: #000;
}

.input::placeholder {
  color: #747474;
  font-style: italic;
  opacity: 1;
}

/* Estilo específico para el input de fecha (birthdate) */
.input[type="date"]::-webkit-datetime-edit-text,
.input[type="date"]::-webkit-datetime-edit-month-field,
.input[type="date"]::-webkit-datetime-edit-day-field,
.input[type="date"]::-webkit-datetime-edit-year-field {
  color: #656464; /* Mismo color gris para el texto de la fecha */
}

.input[type="date"]:focus::-webkit-datetime-edit-text,
.input[type="date"]:focus::-webkit-datetime-edit-month-field,
.input[type="date"]:focus::-webkit-datetime-edit-day-field,
.input[type="date"]:focus::-webkit-datetime-edit-year-field {
  color: #3d3e43; /* Color más oscuro cuando está en foco */
}

/* Estilo para los botones */
.button.is-success {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}

.button.is-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.button.is-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: white;
}

.button.is-info:hover {
  background-color: #138496;
  border-color: #117a8b;
}

button.cancelar{
  background: grey;
}

.button.cancelar:hover{
  background-color: rgb(76, 76, 76);
}

/* toast estilos */

.toast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.toast {
  width: 90%;
  text-align: center;
  opacity: 0.9;
  font-size: 1.25em;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toast-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toast-icon {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.toast-message {
  margin-top: 10px;
}



/* Estilos responsivos */
@media (max-width: 768px) {
.back-button{
  font-size: .9rem;
}

  .title {
    font-size: 1.7rem;
  }
  
  .team-logo {
    max-width: 110px; 
    height: auto;
    position: absolute;
    top: 110%; 
    right: 2%; 
  }

  .team-info p {
    color: #333; 
    font-size: 1.05rem;
    margin-bottom: .5rem;
  }
  
  .team-info p strong {
    color: black; 
  }
  
  .players-table th, .players-table td {
    font-size: 0.9rem; 
    padding: 8px;
  }
  
  .player-photo {
    max-width: 40px; 
    height: 40px;
  }
}

@media (max-width: 576px) {
  .back-button{
    font-size: .85rem;
  }
  
    .title {
      font-size: 1.6rem;
    }
  
  .team-logo {
    max-width: 80px; 
  }
  
  .players-table th, .players-table td {
    font-size: 0.8rem; 
    padding: 6px;
  }
  
  .player-photo {
    max-width: 35px; 
    height: 35px;
  }
}

@media (max-width: 480px) {
  :host {
    padding: .5rem;
  }

  .players-header {
    position: relative; /* Establece el contenedor como el contexto de posicionamiento relativo */
}

.players-header h3.title {
    font-size: 1.4rem; /* Ajusta el tamaño del título si es necesario */
    margin-bottom: 10px; /* Espacio inferior para evitar que el botón lo toque */
}

.players-header .print-button {
    position: absolute; /* Posiciona el botón de manera absoluta */
    top: 80%; /* Alinea el botón con la parte superior del contenedor */
    right: 0%; /* Alinea el botón con la derecha del contenedor */
    font-size: 0.6rem; /* Ajusta el tamaño del texto del botón */
    padding: 4px 9px; /* Ajusta el tamaño del botón */
}
  
  .team-logo {
    width: 55px; /* Fija el ancho de la imagen */
    height: 55px; /* Fija la altura de la imagen */
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor y mantenga proporciones */
    position: absolute;
    top: 135%; 
    right: 2%; 
    border-radius: 50%; /* Si quieres que la imagen tenga forma circular, opcional */
}

  .team-info p {
    color: #333; 
    font-size: .8rem;
    margin-bottom: .5rem;
  }
  
  .team-info p strong {
    color: black; 
  }

  .players-container{
    padding: 10px;
  }

  .players-table th, .players-table td {
    font-size: 0.6rem; 
    padding: 3px 2px;
  }

  .player-photo {
    max-width: 30px; 
    height: 30px;
  }


}