:host {
  background-image: url('/assets/video poster dashboard.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  min-height: 100vh;
  padding: 2rem;
}


  .container {
    margin-top: 50px; 
    padding: 25px;
  }


.team-info {
  background: rgba(255, 255, 255, 0.6); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 10px; 
  padding: 20px 30px; 
  margin-top: 30px; 
  width: 100%;

}

.title {
  text-align: center;
  color: rgb(58, 56, 56);
  margin-top: .5rem;
  font-size: 2rem;
}

/* Estilos para la cabecera de la información del equipo */

.team-info-back {
  margin-bottom: 0px; 
}

.back-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #218838; 
}

.team-info {
  background: rgba(255, 255, 255, 0.6); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 10px; 
  padding: 30px 20px;
  margin-top: 30px; 
  width: 100%;
}

.team-info-title {
  text-align: center;
  margin-bottom: 30px;
}

.team-info-title h2{
  font-size: 2rem;
}

.team-info-content {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.team-info-details {
  display: flex;
  flex-direction: column; 
  flex: 1; 
  margin-left: 15px;
}

.team-info-details p {
  font-size: 1.4rem;
  color: black; 
  margin-bottom: 10px; 
}

.team-info-details p strong {
  color: black;
  font-weight: bold; 
}

.team-info-logo {
  flex-shrink: 0; 
  margin-right: 20px;
}

.team-logo {
  width: 150px; 
  height: 150px;
  object-fit: cover; 
  border-radius: 50%; 
  border: 2px solid #ddd;
}

/* Estilos para la tabla */

.players-container {
  background: rgba(255, 255, 255, 0.6); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 10px; 
  padding: 20px; 
  margin-top: 20px; 
}

.section-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

/* Estilos para la cabecera de la tabla de jugadores */
.players-header {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 20px;
  position: relative; 
}


.no-players-message {
  text-align: center;
  color: #ff3860; 
  font-size: 1.2rem;
  margin: 20px 0;
}

/* Estilos para la tabla */

.players-table table {
  width: 100%;
  border-collapse: collapse;
}

.players-table th {
  background-color: #216fa7; 
  color: white;
  padding: 10px;
  text-align: center;
}

.players-table td {
  color: #333;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}


.players-table tr {
  cursor: pointer; 
  background-color: #f9f9f9; 
  transition: background-color 0.2s ease; 
}

.players-table tr:hover {
  background-color: #dfdcdc !important; 
}

.player-photo {
  max-width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%; 
}


/*Toast confirmacion delete*/


  .buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .button.is-success {
    background-color: #28a745; 
    color: white;
    border: none;
  }

  .button.is-success:hover {
    background-color: #218838; 
  }

  .button.is-info {
    background-color: #6c7278; 
    color: white;
    border: none;
  }

  .button.is-info:hover {
    background-color: #0056b3; 
  }

  .toast-message {
    font-size: 1.2em;
    color: #333; 
    text-align: center;
  }

  .modal-background {
    background-color: rgba(33, 32, 32, 0.5); 
  }

  /* Estilos para el modal de confirmaciónde eliminacion */

.modal.is-active {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-card {
  max-width: 400px; 
  width: 100%;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.modal-card-head {
  background-color: #f5f5f5;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.modal-card-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

.modal-card-body {
  text-align: left;
}


  /* Estilo general para el modal para editar jugador*/


.modal.is-active {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding:10px;
}

/* Estilo para la tarjeta del modal */
.modal-card {
  max-width: 600px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.792);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 30px 20px 30px 20px;
}

/* Estilo para la cabeza del modal */
.modal-card-head {
  background-color: rgba(255, 255, 255, 0.792);
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.modal-card-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: black;
}


/* Estilo para el cuerpo del modal */
.modal-card-body {
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.792);
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.2rem;
  margin-left: 8px;
  display: block;
}

/* Estilo para los campos del formulario */

.field {
  margin-bottom: 1rem;
}

.input {
  background-color: #f0f0f0;
  border: 1px solid #bcbbbb;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #000;
}

.input:focus {
  background-color: #e0e0e0;
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  color: #000;
}

.input::placeholder {
  color: #747474;
  font-style: italic;
  opacity: 1;
}

/* ícono del calendario esté en el margen derecho */

input[type="date"] {
  padding-right: 2.5rem; 
  position: relative;
  -webkit-appearance: textfield; 
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer; 
  position: absolute;
  right: 10px;
  z-index: 1;
}

input[type="date"]::-moz-calendar-picker-indicator {
  cursor: pointer; 
  position: absolute;
  right: 10px;
  z-index: 1;
}

input[type="date"]::-ms-clear {
  display: none; 
}

/* contenedor de la imagen de previsualización del modal editar jugador */

.image-preview {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin-top: 10px;
}

.preview-image {
  width: 150px; 
  height: 150px; 
  object-fit: cover; 
  border-radius: 50%; 
  margin-top: 10px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* botones del modal editar jugador y de confirmacion de eliminacion de jugador */
/* Estilo para el pie del modal */
.modal-card-foot {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.792);
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.modal-card-foot .button {
  margin-left: 10px;
}

.button.is-success {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}

.button.is-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.button.is-info {
  background-color: #6c757d;
  border-color: #6c757d;
  color: white;
}

.button.is-info:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

 .button.is-danger {
  color: white !important;
}

.button:hover {
  background-color: #e74c3c; 
}


  /* boton de imprimir tabla */

.button.print-button {
  position: absolute;
  right: 0;
  top: 40px;
  color: rgb(63, 62, 62);
  background-color: transparent;
  font-size: 1.2rem;
}

.fa-print{
  margin-right: 10px;
  color: rgb(67, 65, 65);
  font-size: 1.2rem;
}

/* boton de cerrar modal editar jugador */

.modal-close-btn {
  position: absolute;
  top: -20px;
  right: -8px;
}


/* toast estilos */

.toast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.toast {
  width: 90%;
  text-align: center;
  opacity: 0.9;
  font-size: 1.25em;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toast-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-icon {
  color: #28a745; 
  font-size: 2rem;
}

.error-icon {
  color: #dc3545; 
  font-size: 2rem;
}

.toast-message {
  font-size: 1.25em;
  color: #333;
}

.success-toast .success-icon {
  color: #28a745; 
}

.error-toast .error-icon {
  color: #dc3545; 
}

.toast-message {
  font-size: 1.25em;
  margin-top: 1.5rem;
}

.success-toast .toast-message {
  color: #28a745; 
}

.error-toast .toast-message {
  color: #dc3545; 
}


/* Estilos responsivos */

@media (max-width: 768px) {
.back-button{
  font-size: .9rem;
}

  .title {
    font-size: 1.7rem;
  }
  
  .team-logo {
    max-width: 110px; 
    height: auto;
    position: absolute;
    top: 110%; 
    right: 2%; 
  }

  .team-info p {
    color: #333; 
    font-size: 1.05rem;
    margin-bottom: .5rem;
  }
  
  .team-info p strong {
    color: black; 
  }
  
  .players-table th, .players-table td {
    font-size: 0.9rem; 
    padding: 8px;
  }
  
  .player-photo {
    max-width: 40px; 
    height: 40px;
  }
}

@media (max-width: 576px) {

  :host {
    background-image: url('/assets/imagen fondo dashboard movil.png');
    background-size: cover;
    background-position: center 65px;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 2rem;
  }

  .container {
    margin-top: 50px; 
    padding: 5px;
  }

  .back-button{
    font-size: .75rem;
    padding:7px 15px;
    margin-bottom: 1.5rem;
  }
  
    .title {
      font-size: 1.6rem;
    }

    .team-info-title h2{
      font-size: 1.8rem;
      margin-bottom: -.7rem;
    }
    
    .team-info-content {
      display: flex;
      justify-content: space-between; 
      align-items: center;
    }
    
    .team-info-details {
      display: flex;
      flex-direction: column; 
      flex: 1; 
      margin-left: 10px;
    }
    
    .team-info-details p {
      font-size: 1.5rem;
      color: black; 
      margin-bottom: 10px; 
    }
    
    .team-info-details p strong {
      color: black;
      font-weight: bold; 
    }
    
    .team-info-logo {
      flex-shrink: 0; 
      margin-right: 20px;
    }
  
  .team-logo {
    max-width: 100px; 
  }

  .button.print-button {
    position: absolute;
    right: 0;
    top: 40px;
    color: rgb(63, 62, 62);
    background-color: transparent;
    font-size: 1.2rem;
  }
  
  .fa-print{
    margin-right: 10px;
    color: rgb(67, 65, 65);
    font-size: .9rem;
  }
  
  .players-table th, .players-table td {
    font-size: 0.8rem; 
    padding: 6px;
  }
  
  .player-photo {
    max-width: 35px; 
    height: 35px;
  }
}

@media (max-width: 480px) {
  :host {
    padding: .5rem;
  }

  .players-header {
    position: relative; 
}

.players-header h3.title {
    font-size: 1.4rem; 
    margin-bottom: 10px; 
}

.players-header .print-button {
    position: absolute; 
    top: 80%; 
    right: 0%; 
    font-size: 0.6rem; 
    padding: 4px 9px; 
}
  
  .team-logo {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    position: absolute;
    top: 53%; 
    right: 9%; 
    border: none;
    border-radius: 50%; 
}

  .team-info p {
    color: #333; 
    font-size: 1rem;
    margin-bottom: .5rem;
  }
  
  .team-info p strong {
    color: black; 
  }

  .players-container{
    padding: 10px;
  }

  .players-table th, .players-table td {
    font-size: 0.55rem; 
    padding: 2.5px 2px;
  }

  .player-photo {
    max-width: 30px; 
    height: 30px;
  }


}