:host {
  background-image: url('/assets/video poster dashboard.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  min-height: 100vh;
  padding: 2rem;
}

 .container {
    margin-top: 20px; 
    padding: 3rem;
  }

/* Estilos para la cabecera de la información del equipo */

.team-info {
  background: rgba(255, 255, 255, 0.6); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 10px; 
  padding: 30px 20px;
  width: 75%;
  max-width: 100%;
  margin: auto;
  margin-top: 30px; 
}

.team-info-back {
  margin-bottom: 0px; 
}

.back-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 9px 20px;
  font-size: .75rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #218838; 
}

.team-info-title {
  text-align: center;
  margin-bottom: 30px;
}

.team-info-title h2{
  font-size: 1.5rem;
  color: rgb(59, 57, 57);
}

.team-info-content {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.team-info-details {
  display: flex;
  flex-direction: column; 
  flex: 1; 
  margin-left: 8px;
}

.team-info-details p {
  font-size: 1.1rem;
  color: black; 
  margin-bottom: 7px; 
}

.team-info-details p strong {
  color: black;
  font-weight: bold; 
}

.team-info-logo {
  flex-shrink: 0; 
  margin-right: 50px;
}

.team-logo {
  width: 130px; 
  height: 130px;
  object-fit: cover;  
}


/* Estilos para la cabecera de la tabla de jugadores */
.players-container {
  background: rgba(255, 255, 255, 0.6); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 10px; 
  padding: 20px; 
  width: 75%;
  max-width: 100%;
  margin: auto;
  margin-top: 2rem;
}

.players-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.players-title { 
  margin-left: 10px;
  text-align: left;
}

.players-title h3{
  color: rgb(73, 71, 71);
  font-size: 1.3rem;
}

  /* botón de imprimir tabla */
  
  .players-buttons {
    display: flex;
    flex-direction: row; 
    align-items: flex-end; 
    gap: 10px;
  }
  
  .print-button {
    margin-bottom: 10px; 
    width: auto; 
    font-size: .65rem;
    background-color: #28a745 !important; 
    border: none;
    color: white;
    transition: background-color 0.3s ease;
  }

  .print-button:hover {
    background-color: #218838 !important; 
  }
  
  .players-buttons .button {
    font-size: 0.85rem; 
    padding: 8px 12px; 
  }
  
  .players-buttons .button .fa {
    font-size: 5px; 
    margin-right: 5px; 
  }

  .no-players-message {
    text-align: center;
    color: #4a4848; 
    font-size: 1rem;
    margin: 10px 0;
  }

/* Estilos para la tabla */

.players-table {
  border-radius: 10px; 
  overflow: hidden; 
  border: 1px solid #ddd; 
}

.players-table table {
  width: 100%;
  border-collapse: collapse;
}

.players-table th, .players-table td {
  font-size: 0.9rem; 
  padding: 5px; 
}

.players-table th {
  background-color: #216fa7; 
  color: white;
  text-align: center;
}

.players-table td {
  color: #333;
  text-align: center;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

.players-table tr {
  cursor: pointer; 
  background-color: #f9f9f9; 
  transition: background-color 0.2s ease; 
}

.players-table tr:hover {
  background-color: #dfdcdc !important; 
}

.player-photo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 3px; 
}


/*Toast confirmación delete*/
  .buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .button.is-success {
    background-color: #28a745; 
    color: white;
    border: none;
  }

  .button.is-success:hover {
    background-color: #218838; 
  }

  .button.is-info {
    background-color: #6c7278; 
    color: white;
    border: none;
  }

  .button.is-info:hover {
    background-color: #0056b3; 
  }

  .toast-message {
    font-size: 1.2em;
    color: #333; 
    text-align: center;
  }

  .modal-background {
    background-color: rgba(33, 32, 32, 0.5); 
  }

  /* Estilos para el modal de confirmaciónde eliminacion */

.modal.is-active {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-card {
  max-width: 400px; 
  width: 100%;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.modal-card-head {
  background-color: #f5f5f5;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.modal-card-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

.modal-card-body {
  text-align: left;
}


  /* Estilo general para el modal para editar jugador*/


.modal.is-active {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding:10px;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
}

/* Estilo para la tarjeta del modal */
.modal-card {
  max-width: 500px; 
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 12px; 
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
  margin: 20px auto; 
  backdrop-filter: blur(5px); 
}

/* Estilo para la cabeza del modal */

.modal-card-head {
  background-color: transparent; 
  padding: 15px 20px;  
  display: flex;
  justify-content: center; 
  align-items: center;
  border-radius: 12px 12px 0 0; 
}

.modal-card-title {
  font-size: 1.4rem; 
  font-weight: 600; 
  color: #333; 
  text-align: center; 
  margin: 0; 
}

/* boton de cerrar modal editar jugador */

.modal-close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.modal-close-btn:hover {
  transform: scale(1.2); 
  color: #ff3b3b; 
}

/* Estilo para el cuerpo del modal */
.modal-card-body {
  padding: 1.2rem .5rem;
  background-color: transparent;
}

.label {
  font-size: .85rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.2rem;
  margin-left: 8px;
  display: block;
}

/* Estilo para los campos del formulario */

.field {
  margin-bottom: .5rem;
}

.input {
  background-color: #f0f0f013;
  border: 1px solid #bcbbbb;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: .9rem;
  color: #000;
}

.input:focus {
  background-color: #e0e0e0;
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  color: #000;
}

.input::placeholder {
  color: #747474;
  font-style: italic;
  opacity: 1;
}

/* ícono del calendario esté en el margen derecho */

input[type="date"] {
  padding-right: 2.5rem; 
  position: relative;
  -webkit-appearance: textfield; 
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer; 
  position: absolute;
  right: 10px;
  z-index: 1;
}

input[type="date"]::-moz-calendar-picker-indicator {
  cursor: pointer; 
  position: absolute;
  right: 10px;
  z-index: 1;
}

input[type="date"]::-ms-clear {
  display: none; 
}

/* contenedor de la imagen de previsualización del modal editar jugador */

.image-preview {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin-top: 10px;
}

.preview-image {
  width: 100px; 
  height: 100px; 
  object-fit: cover; 
  border-radius: 50%; 
  margin-top: 10px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* botones del modal editar jugador y de confirmación de eliminación de jugador */
/* Estilo para el pie del modal */
.modal-card-foot {
  padding: 1rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.modal-card-foot .button {
  margin-left: 10px;
  font-size: .9rem;
  padding: 8px 15px;
}

.button.is-success {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}

.button.is-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.button.is-info {
  background-color: #6c757d;
  border-color: #6c757d;
  color: white;
}

.button.is-info:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

 .button.is-danger {
  color: white !important;
}

.button:hover {
  background-color: #e74c3c; 
}


/* toast estilos */

.toast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.toast {
  width: 90%;
  text-align: center;
  opacity: 0.9;
  font-size: 1.25em;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toast-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-icon {
  color: #28a745; 
  font-size: 2rem;
}

.error-icon {
  color: #dc3545; 
  font-size: 2rem;
}

.toast-message {
  font-size: 1.25em;
  color: #333;
}

.success-toast .success-icon {
  color: #28a745; 
}

.error-toast .error-icon {
  color: #dc3545; 
}

.toast-message {
  font-size: 1.25em;
  margin-top: 1.5rem;
}

.success-toast .toast-message {
  color: #28a745; 
}

.error-toast .toast-message {
  color: #dc3545; 
}



/* ESTILOS RESPONSIVOS TARJETA DE INFORMACIÓN DE EQUIPO Y TARJETA DE LA TABLA DE JUGADORES */
@media (max-width: 992px) {

  .container {
    margin-top: 20px; 
    padding: 2rem;
  }

  .team-info {
    padding: 20px 20px;
    width: 80%;
    max-width: 100%;
  }

  .back-button {
    padding: 5px 15px;
    font-size: .65rem;
  }

  .team-info-title {
    margin-bottom: 25px;
  }

  .team-info-title h2{
    font-size: 1.3rem;
  }

  .team-info-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }

  .team-info-details p {
    font-size: 1rem;
    margin-bottom: 5px; 
  }

  .team-info-logo {
    flex-shrink: 0; 
    margin-right: 50px;
  }

  .team-logo {
    width: 120px; 
    height: 120px;
    object-fit: cover;  
  }

    /* Estilos responsivos para la tarjeta de la tabla de los jugadores */
    .players-container {
      padding: 15px; 
      width: 80%;
    }
    
    .players-title h3{
      color: rgb(73, 71, 71);
      font-size: 1.2rem;
    }
    
      /* botón de imprimir tabla */
      
      .players-buttons {
        display: flex;
        flex-direction: row; 
        align-items: flex-end; 
        margin-bottom: -15px;
        gap: 10px;
      }
      
      .print-button {
        margin-bottom: 10px; 
        width: auto; 
        font-size: .65rem;
      }
      
      .fa-print {
        margin-right: 8px;
      }
    
      .no-players-message {
        text-align: center;
        color: #4a4848; 
        font-size: .9rem;
        margin: 10px 0;
      }
    
    /* Estilos para la tabla */
    
    .players-table th, .players-table td {
      font-size: 0.75rem; 
      padding: 5px; 
    }
    
    .player-photo {
      width: 30px;
      height: 30px;
    }
  }

  @media (max-width: 768px) {
    .container {
      margin-top: 20px; 
      padding: 2rem 1rem;
    }
  
    .team-info {
      padding: 15px 15px;
      width: 100%;
    }
  
    .back-button {
      padding: 5px 15px;
      font-size: .65rem;
    }
  
    .team-info-title {
      margin-bottom: 20px;
    }
  
    .team-info-title h2{
      font-size: 1.2rem;
    }
  
    .team-info-details p {
      font-size: .9rem;
      margin-bottom: 4px; 
    }
  
    .team-info-logo {
      flex-shrink: 0; 
      margin-right: 30px;
    }
  
    .team-logo {
      width: 100px; 
      height: 100px; 
    }
  
      /* Estilos responsivos para la tarjeta de la tabla de los jugadores */
      .players-container {
        padding: 13px; 
        width: 100%;
      }
      
      .players-title h3{
        color: rgb(73, 71, 71);
        font-size: 1rem;
      }
      
        /* botón de imprimir tabla */
        
        .players-buttons {
          display: flex;
          flex-direction: column; 
          align-items: flex-end; 
          gap: 0px;
        }
        
        .print-button {
          margin-bottom: 10px; 
          width: auto; 
          font-size: .60rem;
        }
        
        .players-buttons .button {
          font-size: 0.70rem; 
          padding: 5px 12px; 
        }
        
        .players-buttons .button .fa {
          font-size: 4px; 
          margin-right: 5px; 
        }
      
        .no-players-message {
          font-size: .85rem;
        }
      
      /* Estilos para la tabla */
      
      .players-table th, .players-table td {
        font-size: 0.65rem; 
        padding: 4px; 
      }
      
      .player-photo {
        width: 25px;
        height: 25px;
      }
}

  @media (max-width: 492px) {

  :host {
    background-image: url('/assets/fondo general isloggedIn.png');
    padding: 2rem 1rem;
  }

  .container {
    margin-top: 20px; 
    padding: 2rem 0rem;
  }

  .team-info {
    padding: 15px 15px;
    width: 100%;
  }

  .back-button {
    padding: 8px 15px;
    font-size: .75rem;
  }

  .team-info-title {
    margin-bottom: 20px;
  }

  .team-info-title h2{
    font-size: 1.2rem;
  }

  .team-info-details p {
    font-size: .9rem;
    margin-bottom: 4px; 
  }

  .team-info-logo {
    flex-shrink: 0; 
    margin-right: 30px;
  }

  .team-logo {
    width: 100px; 
    height: 100px; 
  }

    /* Estilos responsivos para la tarjeta de la tabla de los jugadores */
    .players-container {
      padding: 13px; 
      width: 100%;
    }
    
    .players-title h3{
      color: rgb(73, 71, 71);
      font-size: 1.2rem;
    }
    
      /* botón de imprimir tabla */
      
      .players-buttons {
        display: flex;
        flex-direction: column; 
        align-items: flex-end; 
        gap: 0px;
      }
      
      .print-button {
        margin-bottom: 10px; 
        width: auto; 
        font-size: .65rem;
      }
      
      .players-buttons .button {
        font-size: 0.70rem; 
        padding: 7px 12px; 
      }
      
      .players-buttons .button .fa {
        font-size: 4px; 
        margin-right: 5px; 
      }
    
      .no-players-message {
        font-size: .85rem;
      }
    
    /* Estilos para la tabla */
    
    .players-table th, .players-table td {
      font-size: 0.60rem; 
      padding: 3.5px; 
    }
    
    .player-photo {
      width: 22px;
      height: 22px;
    }

}


/* ESTILOS RESPONSIVOS DEL MODAL DE EDITAR JUGADOR */

 @media (max-width: 768px){

 .modal.is-active {
  padding:20px;
}

/* Estilo para la tarjeta del modal */
.modal-card {
  max-width: 500px; 
  width: 90%;
}
}

@media (max-width: 492px){
/* Estilo para la cabeza del modal */
.modal.is-active {
  padding:20px;
}

/* Estilo para la tarjeta del modal */
.modal-card {
  width: 95%;
}


}