<div class="container">

  <!-- Botones -->

  <!-- Encabezado -->

  <div class="team-info">

    <div class="team-info-back">
      <button class="back-button" (click)="navigateBack()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Atrás
      </button>
    </div>

    <div class="team-info-title">
      <h2 class="title">Información del Equipo</h2>
    </div>

    <div class="team-info-content">

      <div class="team-info-details">
        <p><strong>Nombre del Equipo:</strong> {{ team.name }}</p>
        <p><strong>País:</strong> {{ team.country }}</p>
        <p><strong>Ciudad:</strong> {{ team.city }}</p>
        <p><strong>Categoría:</strong> {{ team.category }}</p>
      </div>

      <div class="team-info-logo">
        <img [src]="team.logoImage ? team.logoImage : 'assets/imagen player2.png'" alt="Logo del Equipo" class="team-logo">
      </div>
    </div>
  </div>

  <!-- Tabla -->

  <div class="players-container">

    <div class="players-header">
      <h3 class="title">Jugadores Inscritos</h3>
      <button *ngIf="players.length > 0" class="button is-primary print-button" (click)="printPlayers()">
        <i class="fa fa-print" ></i> Imprimir
      </button>
    </div>

    <div *ngIf="players.length === 0" class="no-players-message">
      <p>No hay jugadores registrados en este equipo.</p>
    </div>

    <div *ngIf="players.length > 0" class="players-table">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>#</th>
            <th>Foto</th>
            <th>Nombre del Jugador</th>
            <th>ID Personal</th>
            <th>Fecha de Nacimiento</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players; let i = index" (click)="openEditModal(player)">
            <td>{{ i + 1 }}</td>
            <td><img [src]="player.profilePhoto ? player.profilePhoto : '/assets/imagen player2.png'" alt="Foto del Jugador" class="player-photo"></td>
            <td>{{ player.firstname }} {{ player.lastname }}</td>
            <td>{{ player.personalId }}</td>
            <td>{{ convertToLocalDate(player.birthdate) | date }}</td>
            <td>{{ player.type === 'PLAYER' ? 'JUGADOR' : 'ENTRENADOR' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!-- modal para editar el jugador -->

  <div *ngIf="showEditModal" class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Editar Jugador</p>
        <button class="delete modal-close-btn" aria-label="close" (click)="closeEditModal()" ></button>
      </header>
      <section class="modal-card-body">
        <form [formGroup]="editPlayerForm">

          <div class="field">
            <label class="label">ID Personal</label>
            <div class="control">
              <input class="input" type="text" formControlName="personalId">
            </div>
          </div>

          <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
              <input class="input" type="text" formControlName="firstname">
            </div>
          </div>

          <div class="field">
            <label class="label">Apellido</label>
            <div class="control">
              <input class="input" type="text" formControlName="lastname">
            </div>
          </div>

          <div class="field">
            <label class="label">Fecha de Nacimiento</label>
            <div class="control">
              <input class="input" type="date" formControlName="birthdate">
            </div>
          </div>


          <div class="field">
            <label class="label">Tipo</label>
            <div class="control">
              <input class="input" type="text" formControlName="type">
            </div>
          </div>


          <div class="field">
            <label class="label">País</label>
            <div class="control">
              <input class="input" type="text" formControlName="country">
            </div>
          </div>

          <div class="field">
            <label class="label">Foto</label>
            <div class="control">
<!--              <div class="custom-file-input-wrapper">-->
<!--                <input class="input custom-file-input" type="file" (change)="onFileSelected($event)" name="profilePhotoFile">-->
<!--                <div class="overlay-text">Buscar Foto en el dispositivo</div>-->
<!--              </div>-->
            </div>
            <div class="image-preview" *ngIf="playerToEdit.profilePhoto">
              <label>Preview:</label>
              <img [src]="playerToEdit.profilePhoto" alt="Previsualización de la foto">
<!--              <button type="button" class="button is-danger remove-button" (click)="removeSelectedImage()">Eliminar</button>-->
            </div>
          </div>

        </form>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" (click)="submitEdit()">Agregar cambios</button>
        <button class="button is-danger" (click)="confirmDeletePlayer(playerToEdit.id)">Eliminar jugador</button>
      </footer>
    </div>
  </div>


  <!--modal para eliminar jugador-->
  <div class="modal is-active" *ngIf="showDeleteConfirmToast">
    <div class="modal-background"></div> 
    <div class="modal-card">
      <section class="modal-card-body">
        <p class="toast-message">¿Deseas eliminar al jugador?</p>
        <div class="buttons is-centered">
          <button class="button is-success" (click)="confirmDeletion()">Aceptar</button>
          <button class="button is-info" (click)="cancelDelete()">Cancelar</button>
        </div>
      </section>
    </div>
  </div>


   <!--Toast afirmativo y negativo-->
 <div class="toast-container">
  <div *ngIf="showSuccessToast" class="notification toast success-toast is-light">
    <div class="toast-content">
      <i class="fas fa-check-circle success-icon"></i> 
      <div class="toast-message">{{ toastMessage }}</div>
    </div>
  </div>

  <div *ngIf="showErrorToast" class="notification toast error-toast is-light">
    <div class="toast-content">
      <i class="fas fa-exclamation-circle error-icon"></i> 
      <div class="toast-message">{{ toastMessage }}</div>
    </div>
  </div>
</div>
</div>
