<div class="container">

  <!-- Botones -->

  <div class="header-section">
    <div class="back-button-container">
      <button class="button is-primary back-button" (click)="navigateToDashboard()">
        Ir a dashboard
      </button>
    </div>
  </div>

  <!-- Encabezado -->

  <div class="team-info">
    <div class="team-info-header">
      <h2 class="title">Información del Equipo</h2>
      <img [src]="team.logoImage ? team.logoImage : 'assets/imagen player2.png'" alt="Logo del Equipo" class="team-logo">
    </div>
    <p><strong>Nombre del Equipo:</strong> {{ team.name }}</p>
    <p><strong>País:</strong> {{ team.country }}</p>
    <p><strong>Ciudad:</strong> {{ team.city }}</p>
    <p><strong>Categoría:</strong> {{ team.category }}</p>
  </div>

  <!-- Tabla -->

  <div class="players-container">

    <div class="players-header">
      <h3 class="title">Jugadores Inscritos</h3>
      <button *ngIf="players.length > 0" class="button is-primary print-button" (click)="printPlayers()">
        <i class="fa fa-print" style="margin-right: 8px;"></i> Imprimir
      </button>
    </div>

    <div *ngIf="players.length === 0" class="no-players-message">
      <p>No hay jugadores registrados en este equipo.</p>
    </div>

    <div *ngIf="players.length > 0" class="players-table">
      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Foto</th>
            <th>Nombre del Jugador</th>
            <th>ID Personal</th>
            <th>Fecha de Nacimiento</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players; let i = index">
            <td>{{ i + 1 }}</td>
            <td><img [src]="player.profilePhoto ? player.profilePhoto : '/assets/imagen player2.png'" alt="Foto del Jugador" class="player-photo"></td>
            <td>{{ player.firstname }} {{ player.lastname }}</td>
            <td>{{ player.personalId }}</td>
            <td>{{ convertToLocalDate(player.birthdate) | date }}</td>
            <td>{{ player.type === 'PLAYER' ? 'JUGADOR' : 'ENTRENADOR' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!-- modal para editar el jugador -->

<div *ngIf="showEditModal" class="modal is-active">
  <div class="modal-background" (click)="closeEditModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Editar Jugador</p>
      <button class="delete" aria-label="close" (click)="closeEditModal()"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="editPlayerForm">
        <div class="field">
          <label class="label">Nombre</label>
          <div class="control">
            <input class="input" type="text" formControlName="firstname">
          </div>
        </div>

        <div class="field">
          <label class="label">Apellido</label>
          <div class="control">
            <input class="input" type="text" formControlName="lastname">
          </div>
        </div>

        <div class="field">
          <label class="label">ID Personal</label>
          <div class="control">
            <input class="input" type="text" formControlName="personalId">
          </div>
        </div>

        <div class="field">
          <label class="label">Fecha de Nacimiento</label>
          <div class="control">
            <input class="input" type="date" formControlName="birthdate">
          </div>
        </div>

        <div class="field">
          <label class="label">Tipo</label>
          <div class="control">
            <input class="input" type="text" formControlName="type">
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="submitEdit()">Agregar cambios</button>
      <button class="button cancelar" (click)="closeEditModal()">Cancelar</button>
    </footer>
  </div>
</div>



  <div class="toast-container" *ngIf="showDeleteConfirmToast">
    <div class="notification is-grey toast">
      <div class="toast-content">
        <p class="toast-message">¿Deseas eliminar al jugador?</p>
        <div class="buttons is-centered">
          <button class="button is-success" (click)="confirmDeletion()">Aceptar</button>
          <button class="button is-info" (click)="cancelDelete()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

   <!--Toast-->
   <div class="toast-container">
    <div *ngIf="showSuccessToast" class="notification is-success toast">
      <div class="toast-content">
        <img src="/assets/pulgar arriba1.png" alt="Éxito" class="toast-icon">
        <div class="toast-message">{{ toastMessage }}</div>
      </div>
    </div>
    <div *ngIf="showErrorToast" class="notification is-danger toast">
      <div class="toast-content">
        <img src="/assets/pulgar abajo.png" alt="Error" class="toast-icon">
        <div class="toast-message">{{ toastMessage }}</div>
      </div>
    </div>
  </div>
</div>
