

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #00c853 0%, #00b8d4 100%);
  min-height: 100vh; 
  padding: 2rem; 
}

.arrow-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.arrow-back {
  color: #20578f; 
  font-size: 1.5rem; 
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: #22436c; 
  }
}

.box {
  max-width: 460px; 
  width: 100%; 
  padding: 3rem; 
  border-radius: 15px; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); 
  background: rgba(255, 255, 255, 0.5); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.title {
  font-size: 3rem; 
  font-weight: 700; 
  color: #4b4f54; 
  text-align: center; 
  margin-bottom: 3rem; 
}

.field {
  margin-bottom: 2rem;
  position: relative; 
}

.help.is-danger {
  font-size: 0.975rem;
  color: #e74c3c;
  position: absolute; 
  bottom: -1.5rem; 
  left: 10px;
  width: 100%;
  visibility: hidden; 
}

.help.is-danger.active {
  visibility: visible; 
}

.label {
  font-size: 1.2rem; 
  font-weight: 400; 
  color: #333; 
  margin-bottom: 0.5rem; 
  display: block; 
}

.input {
  background-color: #f9f9f9; 
  border: 1px solid #979595; 
  border-radius: 8px; 
  font-size: 1.2rem; 
  width: 100%; 
  color: #333; 
  padding-left: 0.5rem; 
  transition: border-color 0.3s, box-shadow 0.3s; 

  &:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
    outline: none; 
    background-color: #fff; 
  }
}

.input-icon {
  color: #807f7f; 
  position: absolute; 
  left: 10px; 
  top: 50%; 
  transform: translateY(-50%); 
  pointer-events: none; 
}

.icon.is-left {
  color: #a3a1a1; 
  position: absolute;
  left: 10px;
  top: 51%; 
  transform: translateY(-50%);
  pointer-events: none; 
}

.button.is-primary {
  width: 50%; 
  padding: 0.6rem; 
  border-radius: 5px; 
  font-size: 1.2rem; 
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  transition: background-color 0.3s ease; 
  margin: auto;
  margin-top: 3.5rem;
  margin-bottom: -1rem;
}

.button.is-primary:hover {
  background-color: #0056b3; 
  border-color: #0056b3;
}

.logo-container {
  margin-top: 0.5rem; 
  margin-bottom: -.5rem; 
  display: flex;
  justify-content: center; 
}

.logo-image {
  max-width: 300px; 
  height: 130px;
  margin-bottom: -1rem;
}


/*MEDIA QUERIES*/

@media (max-width: 492px) {
  .section {
    padding: 1.2rem;
  }

  .box {
    max-width: 95%;
    padding: 2rem 1.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 2.7rem;
  }

  .field {
    margin-bottom: 2rem;
  }

  .label {
    font-size: 1.1rem; 
    font-weight: 400; 
    margin-bottom: .2rem;
  }

  .help.is-danger {
    font-size: 0.875rem;
  }

  .button.is-primary {
    width: 50%;
    font-size: 1.2rem;
  }

  .logo-container {
    margin-top: 0rem; /* Espacio superior para separar de la tarjeta */
    text-align: center; /* Centrar horizontalmente la imagen */
  }

  .logo-image {
    max-width: 150px; /* Tamaño máximo de la imagen */
    height: auto;
  }
}