.video-section {
  position: relative;
  width: 100%;
  height: 100vh; /* El video ocupa el 100% del alto de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Elimina los márgenes */
  padding: 0; /* Elimina los paddings */
  overflow: hidden; /* Asegura que no haya desbordamiento */
}


#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* El video ocupa el 100% del ancho del contenedor */
  height: 100%; /* El video ocupa el 100% del alto del contenedor */
  object-fit: cover; /* Asegura que el video se ajuste sin distorsión */
}