<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-light">
        Welcome to Mundialito
      </h1>
      <h2 class="subtitle has-text-light">
        Your go-to app for managing your teams and players.
      </h2>
      <div class="buttons">
        <a class="button is-info" routerLink="/register">Registrarse</a>
        <a class="button is-link" routerLink="/login">Iniciar Sesión</a>
      </div>
      <div class="logo-container">
        <img src="/assets/logo mango.png" alt="Mango Logo" class="logo-image">
      </div>
    </div>
  </div>
</section>
