

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/assets/fondo login 2.png') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh; 
  padding: 2rem; 
}

.box {
  max-width: 440px; 
  width: 100%; 
  padding: 3rem 2rem; 
  border-radius: 15px; 
  box-shadow: 0 10px 30px rgba(248, 245, 245, 0.408); 
  background: rgba(155, 174, 188, 0.769); 
  box-shadow: 0 4px 25px 10px inset rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(12px); 
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.title {
  font-size: 2.4rem; 
  font-weight: 700; 
  color: #fcfcfc; 
  text-align: center; 
  margin-bottom: 2rem; 
}

.field {
  margin-bottom: 2.2rem;
  position: relative; 
}

.help.is-danger {
  font-size: 0.975rem;
  color: #ec4432;
  position: absolute; 
  bottom: -1.5rem; 
  left: 10px;
  width: 100%;
  visibility: hidden; 
}

.help.is-danger.active {
  visibility: visible; 
}

.label {
  font-size: 1.1rem; 
  font-weight: bold; 
  color: #ffffff; 
  margin-bottom: 0.2rem; 
  margin-left: 8px;
  display: block; 
}

.input {
  background-color: #f9f9f9a7; 
  border: 1px solid #979595; 
  border-radius: 8px; 
  font-size: 1.1rem; 
  width: 100%; 
  color: #333; 
  padding-left: 0.5rem; 
  transition: border-color 0.3s, box-shadow 0.3s; 

  &:focus {
    border-color: #c2c6ca; 
    box-shadow: 0 0 5px rgba(185, 189, 194, 0.5); 
    outline: none; 
    background-color: #e6e6e6; 
  }
}

.icon.is-left {
  color: #999292; 
  position: absolute;
  left: 10px;
  top: 51%; 
  transform: translateY(-50%);
  pointer-events: none; 
}

.icon.is-left i:active {
  color: #6e6b6b; 
}

.button.is-primary {
  width: 100%; 
  padding: 0.6rem; 
  border-radius: 5px; 
  font-size: 1.2rem; 
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  transition: background-color 0.3s ease; 
  margin: auto;
  margin-top: 3.5rem;
  margin-bottom: -1rem;
}

.button.is-primary:hover {
  background-color: #0056b3; 
  border-color: #0056b3;
}

.logo-container {
  margin-top: 0.5rem; 
  margin-bottom: -.5rem; 
  display: flex;
  justify-content: center; 
}

.logo-image {
  max-width: 300px; 
  height: 130px;
  margin-bottom: -1rem;
}


.toast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; 
}

.toast {
  width: 90%;
  text-align: center;
  opacity: 0.9;
  font-size: 1.25em; 
  padding: 20px; 
  border-radius: 8px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toast-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toast-icon {
  width: 50px; 
  height: auto;
  margin-bottom: 10px; 
}

.toast-message {
  margin-top: 10px;
}


/*MEDIA QUERIES*/

@media (max-width: 526px) {
  .section {
    background: url('/assets/fondo login movil.png') no-repeat center center fixed;
    background-size: cover;
  }
}

@media (max-width: 492px) {
  .section {
    padding: 1.2rem;
  }

  .box {
    max-width: 95%;
    padding: 2rem 1.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 2.7rem;
  }

  .field {
    margin-bottom: 2rem;
  }

  .label {
    font-size: 1.1rem; 
    font-weight: 400; 
    margin-bottom: .2rem;
  }

  .help.is-danger {
    font-size: 0.875rem;
  }

  .button.is-primary {
    width: 100%;
    font-size: 1.1rem;
  }

  .logo-container {
    margin-top: 0rem; 
    text-align: center; 
  }

  .logo-image {
    max-width: 150px; 
    height: auto;
  }
}