<section class="section">

  <div class="container">
    <div class="box">
      <h1 class="title">Iniciar Sesión</h1>
      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <div class="field">
          <label class="label">Correo</label>
          <div class="control has-icons-left">
            <input class="input" type="email" formControlName="email" required>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <p *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
          class="help is-danger active">
         Correo es requerido.
       </p>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input 
              [type]="passwordVisible ? 'text' : 'password'" 
              class="input" 
              formControlName="password" 
              placeholder="Enter your password"
              (input)="onPasswordInput($event)">
            <div *ngIf="passwordHasValue" class="toggle-password" (click)="togglePasswordVisibility()">
              <i [ngClass]="passwordVisible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
            </div>
            <span class="icon is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <div 
            *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" 
            class="error-password active">
            Password es requerida
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-primary is-fullwidth" type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>

<!--Toast-->
<div class="toast-container">
  <div *ngIf="showSuccessToast" class="notification is-success toast">
    <div class="toast-content">
      <i class="fas fa-check-circle toast-icon"></i> 
      <div class="toast-message">{{ toastMessage }}</div>
    </div>
  </div>
  <div *ngIf="showErrorToast" class="notification is-danger toast">
    <div class="toast-content">
      <i class="fas fa-exclamation-circle toast-icon"></i> 
      <div class="toast-message">{{ toastMessage }}</div>
    </div>
  </div>
</div>

</section>

