.reportes-page-container {
  width: 100%;
  min-height: 100vh;
  padding: 10rem .5rem;
  background: rgb(41, 85, 155);
  background-image: url('/assets/video poster dashboard.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.reportes-container {
  width: 75%;
  margin: 0 auto;
  padding: 40px 15px  20px 15px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.button-section {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5rem;
}

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.filter-title {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: black;
}

.selectors-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  align-items: flex-start;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.field label {
  margin-bottom: 5px;
  margin-left: 70px ;
  color: black;
  text-align: left;
  font-size: 1.2rem;
}


.field select {
  width: 80%;
  margin: auto;
  padding: 10px;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #6e6e6e;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
.field#team-search-field {
  margin-top: 15px; 
  width: 50%;
}

#team-search-field label {
  text-align: center;
  font-size: 1.1rem;
}


.field input {
  width: 80%;
  margin: auto;
  padding: 10px;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #6e6e6e;
  box-sizing: border-box;
}

.teams-list-section h3 {
  margin-top: 3rem;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.6rem;
  font-weight: bold;
  color: black;
}

.teams-list-section ul {
  text-align: left;
  margin-left: 3rem;
  list-style-type: decimal;
  padding-left: 0;
}

.teams-list-section li {
  padding: 5px;
  color: black;
  font-size: 1.2rem;
  border-bottom: none;
}

.no-found {
  color: black;
  text-align: center;
  margin-bottom: 2.5rem;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.title {
  flex-grow: 1;
  text-align: center;
}

.button.is-align-right {
  margin-left: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: linear-gradient(to right, #13d876, #48b6e5);
}

th {
  color: white;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #dddddd;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
  color: black;
}

tbody tr:nth-child(even) {
  background-color: #e0e0e0;
  color: black;
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background-color: #e2e2e2;
}

td {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  color: black;
}

.no-found {
  margin-top: 20px;
  font-style: italic;
  color: #ff0000;
}



.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: #f4f4f4;
  padding: 55px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 1000;
}


.toast-icon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #dc3545;
}

.toast-message {
  color: #dc3545;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .title-section {
      font-size: 2rem;
  }

  .reportes-container {
      width: 90%;
      padding: 20px;
  }

  .filter-section h2 {
      font-size: 1.5rem;
  }

  .selectors-row {
    flex-direction: column; 
    gap: 10px; 
  }

  .field select {
    width: 100%; 
  }

  .field label {
    font-size: .9rem;
    margin-bottom: 5px;
  }

  .field select {
      font-size: 0.9rem;
      width: 100%;
  }

  .header-section .title {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
}

.header-section {
    flex-direction: column;
    align-items: center;
}

.button.is-align-left {
    margin-top: 10px;
}

.no-found p {
  width: 80%;
  margin: auto;
  margin-top: -1rem;
  font-size: 0.8rem;
  text-align: center;
}



  th, td {
      font-size: 0.9rem;
  }

  .button.is-align-left {
      width: 100%;
      margin-top: 10px;
  }

  .header-section {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
  }

  .reportes-container .button {
      font-size: .9rem;
      font-weight: 400;
  }

  .teams-list-section ul {
      margin-left: 0;
  }
}

@media (max-width: 525px){

.reportes-page-container{
    background-image: url('/assets/imagen fondo dashboard movil.png');
    background-size: cover;
    background-position: center 65px;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.reportes-container {
  width: 98%; 
  padding: 20px;
  margin-top: -4rem;
  background: rgba(255, 255, 255, 0.75);
}

.field label {
  margin-bottom: 5px;
  margin-left: 70px ;
  color: black;
  text-align: left;
  font-size: 1.2rem;
}


.field select {
  width: 100%;
  margin: auto;
  padding: 10px;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #6e6e6e;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.field#team-search-field {
  margin-top: 19px;
  width: 100%;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

#team-search-field label {
  text-align: left;
  margin-left: 25px;
  margin-bottom: .2rem;
  font-size: 1.1rem;
  width: 100%; 
}

#team-search-field input {
  width: 100%; 
  height: 2.95rem;
  font-size: 1.1rem;
  max-width: 500px; 
}
}

@media (max-width: 492px) {

  .reportes-container {
    width: 98%; 
    padding: 20px;
}

  .selectors-row {
    display: flex;
    flex-direction: column; 
    gap: 10px;
  }

  .field {
    width: 100%;
  }

  .field select {
    width: 100%; 
    font-size: 1rem;
    padding: 12px;
  }

  .field label {
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: 5px;
    margin-left: 13px;
    display: block; 
  }


  .title-section {
    font-size: 1.8rem;
}

.header-section .title {
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
}

th, td {
  font-size: 0.8rem;
}
}
