.reportes-page-container {
  width: 100%;
  min-height: 100vh;
  padding: 9rem 1rem;
  background: rgb(41, 85, 155);
  background-image: url('/assets/video poster dashboard.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.reportes-container {
  width: 70%;
  margin: 0 auto;
  padding: 5px 15px 15px 15px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.filter-title {
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: rgb(65, 65, 65);
}

.selectors-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.field {
  width: 70%;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  gap: 10px; 

}

.field label {
  font-size: .9rem;
  width: 50%; 
  text-align: left;
  color: black;
}

.selectors-row .field select {
  font-size: 0.9rem; 
  padding: 5px 10px; 
}


.field input, .field select {
  margin-top: 0px;
  width: 80%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #6e6e6e;
}

/* Estilos para el tercer input */

#team-search-field {
  margin-top: 1.05rem;
  margin-bottom: 1rem;
  width: 70%;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  gap: 10px;
}

#team-search-field label {
  font-size: .9rem;
  font-weight: 400;
  width: 50%; 
  text-align: left;
}

#team-search-field input {
  width: 80%;
  padding:  6px 15px;
  font-size: .9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
}

/* Estilos para la tabla de equipos luego de la búsqueda */

.teams-list-section h3 {
  margin-top: 2rem;
  font-size: 1.3rem;
  text-align: left;
  margin-bottom: .5rem;
  margin-left: 1rem;
  font-weight: 500;
  color: black;
}

.no-found {
  color: black;
  text-align: center;
  margin-bottom: 2rem;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.title {
  flex-grow: 1;
  text-align: center;
}

/* botón imprimir */ 

.button.is-primary.is-align-left {
  background-color: #3273dc;
  border-color: #3273dc;
  color: #ffffff;
  padding: 5px 15px;
  margin-right: 10px;
  font-size: .9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button.is-primary.is-align-left:hover {
  background-color: #275bb5; 
  border-color: #1f4e8d;
  transform: scale(1.05); 
  transition: all 0.3s ease; 
}

.button.is-primary.is-align-left i {
  margin-right: 10px;
}

/* tabla de equipos */

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px 5px 3px 3px; 
  overflow: hidden;
}

thead {
  background:  #275bb5;
}

th {
  color: white;
  padding: 10px;
  font-size: 0.85rem;
  text-align: left;
  border-bottom: 2px solid #dddddd;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
  color: black;
}

tbody tr:nth-child(even) {
  background-color: #e0e0e0;
  color: black;
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background-color: #e2e2e2;
}

td {
  padding: 8px;
  font-size: 0.85rem;
  border-bottom: 1px solid #dddddd;
  color: black;
}

.no-found {
  margin-top: 20px;
  font-style: italic;
  color: #ff0000;
}

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: #f4f4f4;
  padding: 55px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 1000;
}

.toast-icon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #dc3545;
}

.toast-message {
  color: #dc3545;
  font-size: 1.8rem;
}


/*RESPONSIVE TARJETA DE BUSCAR EQUIPOS*/ 
@media (max-width: 992px){
  .reportes-container {
    width: 70%;
    padding: 5px 20px 15px 20px;
  }
  
  .filter-title {
    margin-bottom: 2rem;
    font-size: 1.7rem;
    color: rgb(65, 65, 65);
  }
  
  .field {
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 10px; 
  
  }
  
  .field label {
    font-size: .9rem;
    width: 48%; 
    text-align: left;
    color: black;
  }
  
  .selectors-row .field select {
    font-size: 0.9rem; 
  }
  
  .field input, .field select {
    width: 70%; 
  }
  
  /* Estilos para el tercer input */
  
  #team-search-field {
    width: 100%;
    gap: 0px;
  }
  
  #team-search-field label {
    font-size: .85rem;
    width: 50%; 
  }
  
  #team-search-field input {
    width: 70%;
    font-size: .9rem;
  }
}

@media (max-width: 768px) {
  .title-section {
      font-size: 2rem;
  }

  .reportes-container {
      width: 90%;
      padding: 20px;
  }

  .filter-section h2 {
      font-size: 1.7rem;
  }

  .selectors-row {
    flex-direction: column; 
    gap: 10px; 
  }

  .field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .field select {
    width: 100%; 
  }

  .field label {
    margin-bottom: -5px;
    text-align: left;
    width: 100%; 
  }

  .field select {
    width: 100%; 
    padding: 10px; 
    font-size: 0.9rem;
    box-sizing: border-box; 
  }

  .field#team-search-field {
    margin-top: 15px;
    width: 100%; 
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
  }

  #team-search-field label {
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
    font-size: .85rem;
    margin-left: 4px;
  }

  #team-search-field input {
    width: 100%;
    font-size: 0.9rem;
    padding: 6px 15px;
  }

  .search-label i {
    font-size: .8rem;
    margin-right: 0px;
  }

  .header-section {
    flex-direction: column;
    align-items: center;
  }


  .header-section .title {
    font-size: 1.1rem;
    text-align: left;
    margin-top: 0rem;
    width: 100%;
  }

  .button.is-align-left {
      margin-top: 10px;
  }

  .no-found p {
    width: 80%;
    margin: auto;
    margin-top: -1rem;
    font-size: 0.8rem;
    text-align: center;
  }

  .button.is-primary.is-align-left {
    background-color: #3273dc;
    border-color: #3273dc;
    color: #ffffff;
    padding: 4px 15px;
    margin-right: 10px;
    font-size: .45rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button.is-primary.is-align-left:hover {
    background-color: #275bb5; 
    border-color: #1f4e8d;
    transform: scale(1.05); 
    transition: all 0.3s ease; 
  }
  
  .button.is-primary.is-align-left i {
    margin-right: 10px;
  }

  th, td {
      font-size: 0.7rem;
      padding: 5px;
  }

  .button.is-align-left {
      width: auto;
      margin-top: 10px;
  }

  .header-section {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
  }

  .reportes-container .button {
      font-size: .9rem;
      font-weight: 400;
  }

}


@media (max-width: 492px) {
  .reportes-page-container{
    background-image: url('/assets/fondo general isloggedIn.png');
    background-size: cover;
    background-position: center 65px;
    background-repeat: no-repeat;
    min-height: 100vh;
}

 .reportes-container {
    background: rgba(11, 82, 157, 0.169);
    backdrop-filter: blur(40px);
    width: 100%; 
    padding: 23px;
    margin-top: 1.5rem;
}

.filter-title h2 {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 1rem;

}

  .selectors-row {
    display: flex;
    flex-direction: column; 
    gap: 0px;
  }

  .field {
    width: 100%;
  }

  .selectors-row .field select {
    font-size: 1.1rem; 
    padding: 8.5px 10px; 
  }
  
  
  .field input, .field select {
    width: 80%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #6e6e6e;
  }

  .field select {
    width: 100%; 
    font-size: 1.1rem;
    padding: 12px;
    margin-bottom: 10px;
  }

  .field label {
    width: 100%;
    font-size: 1.2rem;
    color: rgb(252, 250, 250);
    margin-bottom:0px;
    margin-left: 10px;
    display: block; 
  }


  .field#team-search-field {
    margin-top: 14px;
    width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }
  
  #team-search-field label {
    text-align: left;
    margin-left: 25px;
    margin-bottom: .9rem;
    font-size: 1.15rem;
    width: 100%; 
  }
  
  #team-search-field input {
    width: 100%; 
    height: 2.7rem;
    font-size: 1.1rem;
    max-width: 500px; 
  }


  .title-section {
    font-size: 1.8rem;
}

.header-section .title {
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: .6rem;
  width: 100%;
  color: white;
}

th, td {
  font-size: 0.8rem;
}

.button.is-primary.is-align-left {
  background-color: #3273dc;
  border-color: #3273dc;
  color: #ffffff;
  padding: 4px 15px;
  margin-right: 10px;
  font-size: .45rem;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
}
