.reportes-page-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #00c853, #00b8d4); 
  
    .title-section {
      text-align: center;
      padding-top: 40px;
      font-size: 3rem;
      margin-bottom: 20px;
      color: rgb(10, 10, 95);
    }
  
    .reportes-container {
        width: 75%;
        margin: 0 auto;
        padding: 20px;
        background: rgba(255, 255, 255, 0.7); 
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        backdrop-filter: blur(10px); 
        -webkit-backdrop-filter: blur(10px); 
        border: 1px solid rgba(255, 255, 255, 0.3);
  
      .button-section {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 5rem;
      }
  
      .filter-section {
        margin-top: -2.5rem;
        margin-bottom: 1rem;

        h2{
            color: black;
            font-size: 2rem;
            text-align: center;
            margin-bottom: 2.5rem;
        }
  
        .field {
          margin-bottom: 25px;
  
          label {
            display: block;
            font-size: 1.1rem;
            font-weight: 500;
            margin-bottom: 5px;
            margin-left: 10px;
            color: black;
            text-align: left;
            width: 100%;

          }

          .select-container {
            text-align: left; /* Centra el contenido del contenedor */
          }
  
          select {
            display: block;
            width: 45%; /* Ocupa todo el ancho del contenedor */
            padding: 12px;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #f2f2f2;
            color: #6e6e6e;
            box-sizing: border-box;
          }
        }
      }
  
      .teams-list-section {
        h3 {
          margin-top: 3rem;
          font-size: 2rem;
          text-align: center;
          margin-bottom: 1.6rem;
          font-weight: bold;
          color: black;
        }
  
        ul {
          text-align: left;
          margin-left: 3rem;
          list-style-type: decimal;
          padding-left: 0;
        }
  
        li {
          padding: 5px;
          color: black;
          font-size: 1.2rem;
          border-bottom: none;
        }

        .no-found{
            color: black;
            text-align: center;
            margin-bottom: 2.5rem;
        }
      }
    }
  }

  .teams-list-section {
    h3 {
      margin-bottom: 20px;
      text-align: center;
    }
  
    .header-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
    }
    
    .title {
      flex-grow: 1;
      text-align: center;
    }
    
    .button.is-align-right {
      margin-left: auto;

    }
    

    table {
      width: 100%;
      border-collapse: collapse;
  
      thead {
        background: linear-gradient(to right, #13d876, #48b6e5);
  
        th {
          color: white;
          padding: 10px;
          text-align: left;
          border-bottom: 2px solid #dddddd;
        }
      }
  
      tbody {
        tr:nth-child(odd) {
          background-color: #f9f9f9;
        }
  
        tr:nth-child(even) {
          background-color: #ffffff;
        }
  
        tr {
          cursor: pointer;
  
          &:hover {
            background-color: #e2e2e2;
          }
  
          td {
            padding: 10px;
            border-bottom: 1px solid #dddddd;
            color: black;
          }
        }
      }
    }
  
    .no-found {
      margin-top: 20px;
      font-style: italic;
      color: #ff0000;
    }
  }


  
  
  

